<script src="{{ 'filters.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign sort_by = collection.sort_by | default: collection.default_sort_by
  assign total_active_values = 0
  if collection.url
    assign results_url = collection.url
  else 
    assign terms = collection.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  assign downcase_main_filters = main_filters | downcase | split: ","
%}

{% for filter in collection.filters %}
  {% assign total_active_values = total_active_values | plus: filter.active_values.size %}
{% endfor %}

<collection-filters class="collection-filters flex flex-col relative lg:pt-10" data-base-url="{{ url }}" data-collection-url="{{ collection.url }}" data-current-sort="{{ collection.sort_by | default: collection.default_sort_by }}">

  <div class="no-scrollbar overflow-x-auto">
    {% comment %} top level filter items {% endcomment %}
    <div class="min-w-fit w-full flex flex-row justify-between items-stretch">
      <div :class="mainFilter == 'All' ? 'active' : '' " class="group/filter flex-1 w-full flex flex-col justify-center items-center py-10 lg:py-30 only:hidden border-b border-brown/40 [&.active]:border-brown transition-colors">
        <button @click.prevent="mainFilter = 'All'" class="text-arizona-20 lg:text-arizona-48 font-normal relative  opacity-40 group-[.active]/filter:opacity-100 transition-opacity">
          <span>All</span>
        </button>
      </div>

      {% for block in blocks %}
        {% assign get_filter = collection.filters | where: 'label', block.settings.heading %}
        {% comment %} {% assign downcase_filter_label = filter.label | downcase %} {% endcomment %}
        {% if get_filter.first != blank%}
          {% assign filter = get_filter.first %}
          <div :class="mainFilter == '{{ filter.label }}' ? 'active' : '' " class="group/filter flex-1 w-full flex flex-col justify-center items-center py-10 lg:py-30 border-b border-brown/40 [&.active]:border-brown transition-colors">
            <button @click.prevent="mainFilter = '{{ filter.label }}'" class="text-arizona-20 lg:text-arizona-48 font-normal relative opacity-40 group-[.active]/filter:opacity-100 transition-opacity">
              <span style="--size: 18px;" class="text-[8px] leading-normal font-pangram lg:text-pangram-custom absolute top-0 left-0 -translate-x-full">By</span>
              <span>{{ filter.label }}</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}

      {% comment %} {% for filter in collection.filters %}
        {% assign downcase_filter_label = filter.label | downcase %}
        {% if downcase_main_filters contains downcase_filter_label %}
          <div :class="mainFilter == '{{ filter.label }}' ? 'active' : '' " class="flex-1 w-full flex flex-col justify-center items-center py-30 border-b border-brown/40 [&.active]:border-brown transition-colors">
            <button @click.prevent="mainFilter = '{{ filter.label }}'" :class="mainFilter == '{{ filter.label }}' ? 'active' : '' " class="text-arizona-48 font-normal relative">
              <span style="--size: 18px;" class="text-pangram-custom absolute top-0 left-0 -translate-x-full">By</span>
              <span>{{ filter.label }}</span>
            </button>
          </div>
        {% endif %}
      {% endfor %} {% endcomment %}
    </div>
  </div>

  {% comment %} filter info {% endcomment %}
  <div class="-order-1 lg:order-none">
    <div x-show="mainFilter == 'All'" class="flex flex-col-reverse gap-y-[28px] gap-x-40 lg:grid grid-cols-12 w-full py-25 lg:py-[54px]">
      <div style="--size: 24px" class="col-span-7 text-arizona-custom lg:text-arizona-48 flex flex-col justify-center items-start">
        <p>{{ section_settings.heading}}</p>
      </div>

      <div class="col-span-5">
        {% if section_settings.image != blank %}
          <div class="rounded-[10px] w-full h-auto overflow-hidden aspect-[1.45/1]">{{ section_settings.image | image_url: width: 600 | image_tag: class: "w-full h-full object-cover" }}</div>
        {% endif %}
      </div>
    </div>
    {% for block in blocks %}
      {% if block.settings.title != blank %}
        <div x-show="mainFilter == '{{ block.settings.heading }}'" class="flex flex-col-reverse gap-y-[28px] gap-x-40 lg:grid grid-cols-12 w-full py-[54px]">
          <div style="--size: 24px" class="col-span-7 text-arizona-custom lg:text-arizona-48 flex flex-col justify-center items-start">
            <p>{{ block.settings.title }}</p>
          </div>
    
          <div class="col-span-5">
            {% if block.settings.image != blank %}
              <div class="rounded-[10px] w-full h-auto overflow-hidden aspect-[1.45/1]">{{ block.settings.image | image_url: width: 600 | image_tag: class: "w-full h-full object-cover" }}</div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>

  
  <div style="--size: 10px;" x-data="{ sortOpen: false, toggleSort() { this.sortOpen = ! this.sortOpen } }" class=" text-pangram-custom lg:text-pangram-14 grid grid-cols-[1fr,auto] lg:flex flex-wrap justify-between items-center gap-y-[16px] lg:gap-y-0 gap-x-[16px] relative lg:border-b border-brown/40 mb-[28px] lg:mb-70">
    {% comment %} filters {% endcomment %}
    <div class="flex items-center gap-[16px] lg:gap-20">
      <div class="flex flex-col justify-start w-full lg:w-auto">
        {% for filter in collection.filters %}
          <div :class="mainFilter == '{{ filter.label }}' ? 'active' : '' " class="hidden [&.active]:block mt-[16px] lg:mt-0">

            <div class="no-scrollbar overflow-x-auto lg:border-transparent p-0
              border border-brown rounded-[10px] lg:rounded-none px-20 py-10 lg:p-0"
              x-data="{ open: false, toggle() { this.open = ! this.open } }"
            >
              <button @click.prevent="toggle()" class="flex flex-row justify-between items-center gap-10 w-full lg:hidden">
                <span x-show="{{ filter.label | handle }} != '' " x-text="{{ filter.label | handle }}" class="text-oracle-14"></span>
                <span x-show="{{ filter.label | handle }} == '' " class="text-oracle-14">{{ filter.label }}</span>
                <span :class="open ? '[&_svg]:rotate-180' : '' " class="transition-transform">
                  <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.75 6.75L0.203367 -9.72255e-08L9.29663 -8.92184e-07L4.75 6.75Z" fill="#2B1D0A"/>
                  </svg>
                </span>
              </button>
              <div x-show="open" x-transition class="lg:!block">
                <div class="w-fit flex flex-col lg:flex-row justify-start items-start lg:items-center gap-10 lg:gap-20 pt-10 lg:pt-0">
                {% for value in filter.values %}
                  <div class="relative flex items-center cursor-pointer lg:*:uppercase">
                    <button 
                      @click="
                      {{ filter.label | handle }} == '{{  value.label }}' ? {{ filter.label | handle }} = '' : {{ filter.label | handle }} = '{{ value.label }}' ;
                      $nextTick(() => { $refs.filterForm.dispatchEvent(new Event('change')) })" :class="{{ filter.label | handle }} == '{{ value.label }}' ? 'active' : '' " class="[&.active]:underline cursor-pointer">
                      {{ value.label | escape }}
                    </button>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <button class="js-open-filters flex items-center gap-10 uppercase !hidden">
        Filter
        <span class="-rotate-90">
          {% render 'icon' icon: 'caret' %}
        </span>
      </button>

      <div class="filters-slideout max-w-full w-full h-full fixed top-0 left-0 overflow-hidden bg-cream -translate-x-full transition-transform ease-in-out z-top aria-unhidden:translate-x-0 md:max-w-custom" style="--width: 440px;" aria-hidden="true">
        <form x-ref="filterForm" class="filters-form h-full flex flex-col w-full">
          {% if is_search %}
            <input type="hidden" name="q" value="{{ collection.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {% endif %}


          <div class="mx-20 py-20 flex justify-between items-center gap-10 border-b-1 border-brown">
            <h2 class="js-open-filters">Filters</h2>
            <button class="js-close-filters">{% render 'icon' icon: 'close' %}</button>
          </div>

          <div class="h-full flex flex-col overflow-y-scroll md:pb-0 md:overflow-y-auto">

            <div class="w-full h-full px-20 flex flex-col overflow-y-scroll" id="filter-dropdowns">

            <div id="active-filters-slideout">
              {% if total_active_values > 0 %}
                <div class="my-10 flex gap-10">
                  {% for filter in collection.filters %}
                    <button @click.prevent="
                      {{ filter.label | handle }} = '';
                      $nextTick(() => { $refs.filterForm.dispatchEvent(new Event('change')) })
                      "  
                      x-text="{{ filter.label | handle }}"
                      x-show="{{ filter.label | handle }} != '' "
                      class="px-10 py-5 flex flex-wrap items-center gap-5 border-1 border-brown"
                    ></button>
                    {% comment %} {% for value in filter.active_values %}
                      <button @click="
                        {{ filter.label | handle }} = '';
                        $nextTick(() => { $refs.filterForm.dispatchEvent(new Event('change')) })
                        " 
                        class="remove-filter px-10 py-5 flex flex-wrap items-center gap-5 border-1 border-brown" data-url="{{ filter.url_to_remove | remove: '%2F%3Fsection_id%3Dproduct-grid' }}" data-filter="{{ value.param_name }}-{{ value.value }}">
                        {{ value.label | escape }}
                        <div class="[&_svg]:w-[10px] [&_svg]:h-auto">
                          {% render 'icon' icon: 'close' %}
                        </div>
                      </button>
                    {% endfor %} {% endcomment %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>

              {% for filter in collection.filters %}
                {% assign downcase_filter = filter.label | downcase %}
                <div class="dropdown border-b-1 border-brown">
                  <button class="group/button peer filter-dropdown dropdown-header w-full py-10 flex justify-between items-center gap-10{% if filter.active_values != blank %} has-active-filters{% endif %}" id="{{ filter.label | handleize }}-dropdown">
                    <span class="filter-label">{{ filter.label }}{% if filter.active_values != blank %} ({{ filter.active_values.size }}){% endif %}</span>
                    <span class="transition-transform ease-in-out group-[.active]/button:rotate-180">
                      {% render 'icon' icon: 'caret' %}
                    </span>
                  </button>
                  <div class="filter-dropdown__content dropdown-content hidden peer-[.active]:block">
                    <div class="filter-dropdown__content-container pb-10 flex flex-col gap-10" id="collection-filter-{{ filter.param_name | escape }}">
                      {% for value in filter.values %}
                        <div class="relative flex items-center cursor-pointer">
                          <input type="radio"
                            class="filter-button peer visually-hidden"
                            name="{{ value.param_name }}"
                            value="{{ value.value }}"
                            data-filter="{{ value.param_name }}-{{ value.value }}"
                            id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                            x-model="{{ filter.label | handle }}"
                            x-ref="{{ value.label | handle }}"
                            {% if value.active %}checked{% endif %}
                          >
                          <div class="h-15 w-15 border-1 border-black transition-colors peer-checked:bg-black"></div>
                          <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="pl-10 cursor-pointer{% if value.count == 0 and value.active == false %} opacity-50{% endif %}">
                            {{ value.label | escape }}
                          </label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="px-20 pb-20 grid grid-cols-2 gap-20 bg-white">
              <button class="js-close-filters button w-full">Apply</button>
              <button class="js-clear-all-filters button w-full">Clear</button>
            </div>
          </div>

        </form>
      </div>

    </div>

    <button @click.prevent="toggleSort()" :class="sortOpen ? 'active' : '' " class="col-start-2 row-span-2 self-start mt-[16px] lg:mt-0 group/button lg:py-20 flex justify-between items-center gap-10 uppercase whitespace-nowrap">
      Order By 
      <div class="transition-transform ease-in-out group-[.active]/button:rotate-180">
        <span class="block w-[15px] lg:w-20 [&_svg]:w-full [&_svg]:rotate-90">{% render 'link-arrow' | color: 'currentColor' %}</span>
      </div>
    </button>

    {% comment %} sort {% endcomment %}
    <form class="sort-form w-full">
      <div class="flex flex-row-reverse items-start justify-start gap-x-20 lg:block w-full">
        <div x-show="sortOpen" x-transition class="w-full">
          <div class="relative lg:absolute lg:top-full left-0 right-0 w-full z-30">
            <div class="flex flex-col-reverse gap-y-10 lg:gap-y-0 lg:grid grid-cols-[auto,1fr] gap-x-100 lg:py-20">
              {% comment %} thumbnails selector {% endcomment %}
              <div class="flex flex-row justify-center lg:justify-start items-start gap-15 pb-[16px] lg:pb-0">
                <p>thumbnail:</p>
                <button @click.prevent="toggleView(true)" :class="largeView ? 'underline' : '' " class="underline-offset-2 uppercase">Large</button>
                <button @click.prevent="toggleView(false)" :class="!largeView ? 'underline' : '' " class="underline-offset-2 uppercase">Small</button>
              </div>
              
              <div class="no-scrollbar overflow-x-auto lg:border-transparent p-0
                border border-brown rounded-[10px] lg:rounded-none px-20 py-10 lg:p-0 "
                x-data="{ open: false, toggle() { this.open = ! this.open } }"
              >
                <button @click.prevent="toggle()" class="flex flex-row justify-between items-center gap-10 w-full lg:hidden">
                  <span x-text="orderBy" class="text-oracle-14"></span>
                  <span :class="open ? '[&_svg]:rotate-180' : '' " class="transition-transform">
                    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.75 6.75L0.203367 -9.72255e-08L9.29663 -8.92184e-07L4.75 6.75Z" fill="#2B1D0A"/>
                    </svg>
                  </span>
                </button>
                <div x-show="open" x-transition class="lg:!block">
                  <div class="w-fit flex flex-col lg:flex-row justify-end items-ends gap-10 pt-10 lg:pt-0">
                    {% for option in collection.sort_options %}
                      {% liquid
                        assign is_active = false
                        if option.value == collection.sort_by
                          assign is_active = true
                        endif
                      %}
                      <div class="flex items-center gap-10 cursor-pointer relative">
                        <input type="radio"
                          class="sort-button peer visually-hidden"
                          name="sort_by"
                          value="{{ option.value }}"
                          id="Sort-{{ forloop.index }}"
                          {% if is_active %}checked{% endif %}
                        >
                        <label @click="orderBy = '{{ option.name }}'" for="Sort-{{ forloop.index }}" class="cursor-pointer peer-checked:underline whitespace-nowrap">
                          {{ option.name }}
                        </label>
                      </div>
                    {% endfor %}
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="hidden" id="active-filters">
    {% if total_active_values > 0 %}
      <div class="mb-20 flex gap-10">
        {% for filter in collection.filters %}
          <button @click.prevent="
            {{ filter.label | handle }} = '';
            $nextTick(() => { $refs.filterForm.dispatchEvent(new Event('change')) })
            "  
            x-text="{{ filter.label | handle }}"
            x-show="{{ filter.label | handle }} != '' "
            class="px-10 py-5 flex flex-wrap items-center gap-5 border-1 border-brown"
          ></button>

          {% comment %} {% for value in filter.active_values %}
            <button class="remove-filter px-10 py-5 flex flex-wrap items-center gap-5 border-1 border-brown" data-url="{{ filter.url_to_remove | remove: '%2F%3Fsection_id%3Dproduct-grid' }}" data-filter="{{ value.param_name }}-{{ value.value }}">
              {{ value.label | escape }}
              <div class="[&_svg]:w-[10px] [&_svg]:h-auto">
                {% render 'icon' icon: 'close' %}
              </div>
            </button>
          {% endfor %} {% endcomment %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</collection-filters>