{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{% if paginate.parts.size > 0 %}
  
  <div class="mt-30 py-10 md:mt-40">
    <nav class="pagination load-more-wrapper relative group/pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="flex justify-center items-center gap-20 group-[.loading]/pagination:cursor-not-allowed group-[.loading]/pagination:opacity-30" role="list">
      {% if paginate.previous %}
        <pagination-button 
          role="button"
          data-url="{{ paginate.previous.url }}{{ anchor }}" 
          data-container="{{ container }}"
          data-target="{{ target }}"
          class="" aria-label="{{ 'general.pagination.previous' | t }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none"><path d="M6.50062 1L0.816406 7L6.50062 13" stroke="#49260C"/></svg>
        </pagination-button>
      {% endif %}

      {% for part in paginate.parts %}
        <li>
          {% if part.is_link %}
            <pagination-button 
              role="button"
              data-url="{{ part.url }}{{ anchor }}"
              data-container="{{ container }}"
              data-target="{{ target }}"
             class="text-oracle-18 opacity-50" 
              aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
              {% if part.title < 10 %}0{% endif %}{{ part.title }}
              </pagination-button>
          {% else %}
            {% assign part_title = part.title | times: 1 %}
            {% if part.title == paginate.current_page %}
              <span class="relative text-oracle-18 ml-10" aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                {% if part_title < 10 %}0{% endif %}{{ part_title }}
              </span>
            {% elsif part_title == 0 %}
              <span class="text-oracle-18 opacity-50">{{ part.title }}</span>
            {% else %}
              <span class="text-oracle-18 opacity-50">{% if part_title < 10 %}0{% endif %}{{ part_title }}</span>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}

      {% if paginate.next %}
        <pagination-button 
          role="button"
          data-url="{{ paginate.next.url }}{{ anchor }}" 
          data-container="{{ container }}"
          data-target="{{ target }}"
          class="" aria-label="{{ 'general.pagination.next' | t }}" >
          <svg xmlns="http://www.w3.org/2000/svg" width="7" height="14" viewBox="0 0 7 14" fill="none"><path d="M0.501336 1L6.18555 7L0.501336 13" stroke="#49260C"/></svg>
        </pagination-button>
      {% endif %}
      </ul>

      <div class="loading-overlay__spinner z-[-1] group-[.loading]/pagination:z-[1] group-[.loading]/pagination:opacity-30 group-[.loading]/pagination:cursor-not-allowed">
        <svg
          aria-hidden="true"
          focusable="false"
          role="presentation"
          class="spinner"
          viewBox="0 0 66 66"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </nav>
  </div>
{% endif %}
