{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object

    Usage:
    {% render 'product-card', product_card_product: product %}
{% endcomment %}

{% liquid 
  assign split_product_title = product_card_product.title | split: "-"
%}

<div class="group/card block relative" data-product-card>
  <div class="group/image block relative aspect-square overflow-hidden" data-product-card-image>
    <div data-image class="relative w-full h-full bg-cover bg-center bg-no-repeat {% if settings.product_image_bg != blank and settings.product_image_multiply == true %} [&>img[data-first-image]]:mix-blend-multiply {% endif %}" style="{% if settings.product_image_bg != blank %}background-image: url({{ settings.product_image_bg | image_url: width: 1000 }}){% endif %}">
      {% if product_card_product.featured_image != blank %}
        {{ product_card_product.featured_image | image_url: width: 700 | image_tag: width: product_card_product.featured_image.width, sizes: '700x', widths: '200, 300, 400, 500, 700, 900', class: 'w-full h-full object-cover inset relative', data-first-image: '' }}
        {% if product_card_product.images[1] != blank %}
          {{ product_card_product.images[1] | image_url: width: 700 | image_tag: width: product_card_product.images[1].width, sizes: '700x', widths: '200, 300, 400, 500, 700, 900', class: 'hidden md:block w-full h-full inset object-cover opacity-0 transition-opacity duration-[600ms] ease-in-out group-hover/image:md:opacity-100', data-hover-image: '' }}
        {% endif %}
      {% else %}
        <div class="w-full h-full bg-brown"> </div>
      {% endif %}

      {% render 'loading-spinner', include_overlay: true, use_logo: true %}
    </div>

    <div class="hidden md:block top-half left-half -translate-x-half -translate-y-half absolute w-[calc(100%_+_30px)] h-[calc(100%_+_30px)] border-[30px] border-blue rounded-[40px] scale-[200%] group-hover/card:md:scale-100 transition-transform" class="absolute w-full h-full"> </div>
    <div class="hidden md:block top-half left-half -translate-x-half -translate-y-half absolute w-[calc(100%_+_10px)] h-[calc(100%_+_10px)] border-[10px] border-blue scale-[200%] group-hover/card:md:scale-100 transition-transform" class="absolute w-full h-full"> </div>

    <a class="absolute top-0 left-0 w-full h-full" href="{{ product_card_product.url }}"> </a>
  </div>

  <div class="{% if container == 'search' %}mt-10 {% else %} mt-[22px] {% endif %} md:mt-[23px]">
    <div class="flex flex-col justify-start items-start">
      <div class="flex flex-row justify-between items-center gap-10 w-full">
        <a href="{{ product_card_product.url }}" class="{% if container == 'search' %}text-pangram-12 lg:text-pangram-16 {% else %} text-pangram-16 lg:text-pangram-18 !leading-[30px]{% endif %} block">
          {{ split_product_title[0] | truncate: 16 }}
        </a>
        <p data-price class="lg:opacity-0 {% unless container == 'search' %} lg:group-hover/card:opacity-100 {% endunless %} transition-opacity price flex items-center gap-5 text-pangram-12 lg:text-pangram-14 whitespace-nowrap">
          {% if product_card_product.price_varies %}<span>from</span>{% endif %}
          {{ product_card_product.price_min | money_without_trailing_zeros }}
          {% if product_card_product.compare_at_price > product_card_product.price %}
            <span class="line-through opacity-50">{{ product_card_product.compare_at_price | money_without_trailing_zeros }}</span>
          {% endif %}
        </p>
      </div>
      {% if split_product_title[1] != blank  %}
        <a href="{{ product_card_product.url }}" class="{% if container == 'search' %} text-arizona-12 lg:text-arizona-16 {% else %} text-arizona-18 lg:text-arizona-18{% endif %} mt-[1px] block">
          {{ split_product_title[1] }}
        </a>
      {% endif %}
    </div>

    {% unless no_product_form %}
      <div class="mt-[22px]">
        {% assign product_form_id = 'product-form-' | append: section_id | append: '-' | append: product_card_product.id %}
        
        {% liquid
          assign _p = product_card_product
          assign current_variant = _p.selected_or_first_available_variant
          assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
          assign swatch_file_extension = 'png'
      
          assign swatches = _p.options_by_name['Color'].values
          assign option_name = "Color"
          assign option_position = _p.options_by_name['Color'].position
      
          if swatches == blank
            assign swatches = _p.options_by_name['Finish'].values
            assign option_name = "Finish"
            assign option_position = _p.options_by_name['Finish'].position
          endif
      
          
      %}
      
        <form id="{{ product_form_id }}">
          <product-swatches data-section="{{ section.id }}" data-url="{{ _p.url }}" data-update-url="{{ update_url | default: false }}">
            <div class="flex flex-row flex-wrap gap-20 p-5">
              {% for swatch in swatches %}
                  {% liquid
                    assign value = swatch
                    assign color_file_name = value | handle | append: '.' | append: swatch_file_extension
                    assign color_image = color_file_name | file_img_url: '50x50' | prepend: 'https:' | split: '?' | first
                    assign color_swatch_fallback = value | split: ' ' | last | handle
                    assign color_count = color_count | plus: 1
                  %}
      
                  <div>
                    <input type="radio"
                      class="visually-hidden peer"
                      id="{{ product_form_id }}-{{ option_position }}-{{ forloop.index0 }}"
                      name="{{ option_name }}"
                      {% comment %} value="{{ value | escape }}" {% endcomment %}
                       value={{ swatch.variant.id }}
                      form="{{ product_form_id }}"
                      data-variant-url="{{ swatch.variant.url }}"
                      {% if value.selected %}checked{% endif %}
                    >
                    <label
                      aria-label="{{ _p.title }} - {{ value }}"
                      class="swatch group-[.smallView]/grid:w-[17px] peer-checked:active-swatch"                     
                      style="background-color: {{ color_swatch_fallback }};{% if images[color_file_name] != blank %}  background-image: url({{ color_image }});{% else %}background-color: {{ value | handleize }};{% endif %}" 
                      for="{{ product_form_id}}-{{ option_position }}-{{ forloop.index0 }}"
                      data-variant-id="{{ swatch.variant.id }}"
                    >
                      <div class="visually-hidden">{{ value }}</div>
                    </label>
                  </div>
                
              {% endfor %}
            </div>
          </product-swatches>
        </form>

      </div>
    {% endunless %}
  </div>
</div>
