{% comment %}
    Renders a product card

    Accepts:
    - product_card_product: {Object} Product Liquid object

    Usage:
    {% render 'product-card', product_card_product: product %}
{% endcomment %}

{% liquid 
  assign split_product_title = product_card_product.title | split: "-"
%}

<div class="group/card block relative" data-product-card>
  <div class="group/image block relative aspect-square overflow-hidden" data-product-card-image>
    <div data-image class="relative w-full h-full">
    {% if product_card_product.featured_image != blank %}
      {{ product_card_product.featured_image | image_url: width: 700 | image_tag: width: product_card_product.featured_image.width, sizes: '700x', widths: '200, 300, 400, 500, 700, 900', class: 'w-full h-full object-cover relative' }}
      {% if product_card_product.images[1] != blank %}
        {{ product_card_product.images[1] | image_url: width: 700 | image_tag: width: product_card_product.images[1].width, sizes: '700x', widths: '200, 300, 400, 500, 700, 900', class: 'w-full h-full inset object-cover opacity-0 transition-opacity group-hover/image:opacity-100' }}
      {% endif %}
    {% else %}
      <div class="w-full h-full bg-brown"> </div>
    {% endif %}
    </div>

    <div class="top-half left-half -translate-x-half -translate-y-half absolute w-[calc(100%_+_30px)] h-[calc(100%_+_30px)] border-[30px] border-blue scale-[200%] group-hover/image:scale-100 transition-transform" class="absolute w-full h-full"> </div>

    <a href="{{ product_card_product.url }}"> </a>
  </div>

  <div class="mt-[22px]">
    <div class="flex flex-col justify-start items-start">
      <div class="flex flex-row justify-between items-center gap-10 w-full">
        <a href="{{ product_card_product.url }}" class="text-pangram-16 lg:text-pangram-20 leading-[30px]">
          {{ split_product_title[0] }}
        </a>
        <p data-price class="lg:opacity-0 lg:group-hover/card:opacity-100 transition-opacity price flex items-center gap-5 text-pangram-12 lg:text-pangram-14 whitespace-nowrap">
          {% if product_card_product.price_varies %}<span>from</span>{% endif %}
          {{ product_card_product.price | money_without_trailing_zeros }}
          {% if product_card_product.compare_at_price > product_card_product.price %}
            <span class="line-through opacity-50">{{ product_card_product.compare_at_price | money_without_trailing_zeros }}</span>
          {% endif %}
        </p>
      </div>
      {% if split_product_title[1] != blank  %}
        <a href="{{ product_card_product.url }}" class="text-arizona-18 lg:text-arizona-20">
          {{ split_product_title[1] }}
        </a>
      {% endif %}
    </div>

    <div class="mt-[22px]">
      {% assign product_form_id = 'product-form-' | append: section_id | append: '-' | append: product_card_product.id %}
      {% render 'product-form' product: product_card_product, product_form_id: product_form_id, container: "product-card"  %}
    </div>
  </div>
</div>
