{% section 'main-register' %}
{% comment %} {% render 'account-header' title: 'Register' %}

<div class="mt-40 mb-60 md:mt-60">
  <div class="page-width">

    <div class="max-w-custom mx-auto" style="--width: 440px;">

      {% form 'create_customer', novalidate: 'novalidate' %}

        <div class="mb-30">  
          <label class="field__label" for="RegisterForm-FirstName">First Name</label>    
          <input
            type="text"
            class="field__input"
            name="customer[first_name]"
            id="RegisterForm-FirstName"
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            autocomplete="given-name"
            placeholder="First Name"
          >
        </div>
        
        <div class="mb-30">
          <label class="field__label" for="RegisterForm-LastName">Last Name</label>
          <input
            type="text"
            class="field__input"
            name="customer[last_name]"
            id="RegisterForm-LastName"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            autocomplete="family-name"
            placeholder="Last Name"
          >
        </div>

        <div class="mb-30">   
          <label class="field__label" for="RegisterForm-email">Email</label>   
          <input
            type="email"
            class="field__input"
            name="customer[email]"
            id="RegisterForm-email"
            {% if form.email %} value="{{ form.email }}"{% endif %}
            spellcheck="false"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-email-error"
            {% endif %}
            placeholder="Email"
          >
        </div>

        <div class="mb-30">     
          <label class="field__label" for="RegisterForm-password">Password</label>
          <input
            type="password"
            class="field__input"
            name="customer[password]"
            id="RegisterForm-password"
            aria-required="true"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-password-error"
            {% endif %}
            placeholder="Password"
          >

          {% if form.errors %}
            <div class="mt-10 text-oracle-16 text-error">{{ form.errors | default_errors }}</div>
          {% endif %}
        </div>

        <button class="button w-full">Submit</button>

        <div class="mt-15 text-center">
          <p class="text-oracle-18">Have an account? <a class="underline" href="{{ routes.account_login_url }}">Log In</a></p>
        </div>
      {% endform %}
    </div>
  </div>
</div> {% endcomment %}