{% render 'account-header' title: 'Reset Password' %}

<div class="mt-40 mb-60 md:mt-60">
  <div class="page-width">

    <div class="max-w-custom mx-auto" style="--width: 440px;">
      <p class="max-w-custom mx-auto mb-30 text-m-body text-center md:text-oracle-18" style="--width: 320px;">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

      {% form 'reset_customer_password' %}

        <div class="mb-30"> 
          <label class="field__label" for="password">
            {{ 'customer.reset_password.password' | t }}
          </label>     
          <input
            class="field__input"
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}"
          >
        </div>

        <div class="mb-30">      
          <label class="field__label" for="password_confirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input
            class="field__input"
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          >

          {% if form.errors %}
            <div class="mt-10 text-oracle-16 text-error">{{ form.errors | default_errors }}</div>
          {% endif %}
        </div>

        <button class="button w-full">Submit</button>
      {% endform %}
    </div>
  </div>
</div>
