<script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>

<cart-drawer>
  <div  style="--width: 50vw; {% render "color-variables", color: 'dark' %}" 
    class="cart-drawer max-w-full md:max-w-custom w-full h-[100dvh] fixed top-0 right-0 text-[var(--text)] bg-[var(--background)] z-top translate-x-full transition-transform ease-in-out aria-unhidden:translate-x-0" id="cart-drawer" aria-hidden="true" aria-modal="true" aria-label="Cart Drawer" role="dialog" tabindex="-1">
    <form id="cart-drawer__form" action="{{ routes.cart_url }}" method="post" class="h-full">

      <div id="cart-drawer__inner" class="h-full flex flex-col" data-id="{{ section.id }}">
        <div class="sticky top-0 p-20 px-25 lg:px-[max(58px,4vw)] text-center">

          <div class="flex flex-col justify-start items-end">
            <cart-close type="button" class="js-close-cart text-right w-[22px] lg:w-40 h-auto aspect-square [&_svg]:w-full [&_svg]:h-auto" aria-label="Close cart drawer">
              {% render 'icon' icon: 'close' %}
            </cart-close>

            <h2 class="w-full text-center lg:text-left text-arizona-36 md:text-arizona-48 {% if cart.items.size == 0 %}hidden{% endif %}">Cart</h2>
          </div>

          <div id="cart-drawer__shipping-bar">
            {% if settings.enable_shipping_bar %}
              {% assign threshold = settings.shipping_threshold | times: 1.0 %}
              {% assign threshold_in_cents = threshold | times: 100.0 %}
              {% assign remaining_amount = threshold_in_cents | minus: cart.total_price %}
              {% assign percentage = cart.total_price | divided_by: threshold %}

              {% if percentage > 100 %}
                {% assign percentage = 100 %}
              {% endif %}

              <div class="pt-10">
                {% if cart.total_price < threshold_in_cents %}
                  <p class="text-oracle-18">Only {{ remaining_amount | money_without_trailing_zeros }} away from free shipping!</p>
                {% else %}
                  <p class="text-oracle-18">You have free shipping!</p>
                {% endif %}
                <div class="grid grid-cols-[45px_1fr_45px] items-center">
                  <p class="text-m-body">$0</p>
                  <div class="h-[6px] bg-black/10 relative">
                    <div class="absolute top-0 left-0 bottom-0 bg-black" style="width: {{ percentage }}%;"></div>
                  </div>
                  <p class="text-m-body">${{ settings.shipping_threshold }}</p>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        {% if cart.items.size == 0 %}
          <div data-cart-items class="w-full p-20 pb-[47px] h-full flex flex-col justify-center text-center items-center [&_+_[data-cart-footer]]:hidden">
            <p class="mb-[26px] text-arizona-36 lg:text-arizona-48 ">Your cart is empty</p>
            <a href="{{ settings.shop_all_link }}" class="svg-link text-oracle-16 leading-[30px] px-[13px] flex flex-row justify-start items-center gap-[9px] font-semibold">
              Find Your Fit
              <span>{% render 'link-arrow' %}</span>
            </a>
          </div>
        {% else %}
          <div id="cart-drawer-items" class="w-full h-full px-25 lg:px-[max(58px,4vw)] flex flex-col overflow-y-scroll [&>div]:border-b [&>div]:border-[var(--text)] [&>div:first-of-type]:border-t">
            {% for item in cart.items %}
              <div class="px-[7px]">
                {% render 'cart-item' item: item, idx: forloop.index %}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        <div data-cart-footer class="w-full p-20 sticky bottom-0 flex flex-col justify-start items-center">
          <div class="px-25 lg:px-[max(58px,4vw)] mb-15 flex justify-between items-center gap-20 w-full" id="cart-drawer-subtotal">
            <p class="text-pangram-10 lg:text-pangram-12">Subtotal</p>
            <p class="text-pangram-12">{{ cart.total_price | money_without_trailing_zeros }}</p>
          </div>
          <button type="submit" class="w-full button button--large max-w-[max(574px,40vw)] mx-auto hover:bg-blue hover:text-brown hover:border-blue" name="checkout" form="cart">Checkout</button>
          <p class="mt-[23px] text-oracle-14 text-center">Shipping & taxes calculated at checkout.</p>
        </div>

        <div id="cart-drawer-loading" class="hidden inset bg-white/40">
          <div class="h-full w-full flex justify-center items-center">
            {% render 'loading-spinner' %}
          </div>
        </div>
      </div>
    </form> 
  </div>
</cart-drawer>

{% schema %}
{
  "name": "Cart Drawer",
  "settings": [
    
  ]
}
{% endschema %}