<div class="bg-[var(--background)] text-[var(--text)] py-60 lg:py-[86px]" style="{% render "color-variables", color: section.settings.color %}">
    <div x-data="{ open: 1, toggle(index){ if (this.open == !index ? this.open = index : this.open = 0); } }" class="page-width flex flex-col justify-start items-center">
        <div class="lg:col-span-7 w-full">
            {% if section.settings.heading!= blank %}
                <h6 class="text-pangram-12 lg:text-pangram-14 leading-[30px] lb-[8px] lg:mb-25">{{ section.settings.heading}}</h6>
            {% endif %}

            {% if section.blocks != blank %}
                <div class="">
                    {% for block in section.blocks %}
                        <div class="group/accordion border-b border-[var(--text)] first-of-type:border-t py-10 lg:py-[24px]" :class="open == {{ forloop.index }} ? 'active' : '' " >
                            <button @click="toggle({{ forloop.index }})" class="accordion-header w-full grid grid-cols-12 gap-x-10 lg:gap-x-[max(50px,3.5vw)] items-center">
                                <div class="col-span-2 lg:col-span-3">
                                    <div class="w-[22px] lg:w-[44px] [&_svg]:w-full">
                                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <line vector-effect="non-scaling-stroke" y1="23.5" x2="44" y2="23.5" stroke="currentColor"/>
                                            <line vector-effect="non-scaling-stroke" class="origin-center transition-all opacity-100 group-[.active]/accordion:rotate-90 group-[.active]/accordion:opacity-0" x1="20.5" y1="2.18557e-08" x2="20.5" y2="44" stroke="currentColor"/>
                                        </svg>
                                    </div>
                                </div>
                                    
                                <div class="col-span-9 flex flex-col xl:flex-row justify-start xl:justify-between items-start xl:items-center flex-wrap text-left w-full gap-10">
                                    <h4 class="text-oracle-18">{{ block.settings.heading }}</h4>
                                </div>
                            </button>

                            <div x-show="open == {{ forloop.index }}" x-transition class="accordion-content hidden group-[.active]/accordion:block">
                                <div class="grid grid-cols-12 gap-x-10 lg:gap-x-[max(50px,3.5vw)] lg:pt-[13px]">
                                    <div class="col-start-3 col-span-10 lg:col-start-4 lg:col-span-9 flex flex-col justify-start items-start gap-5">
                                        <p class="text-oracle-14 lg:text-oracle-18 indent-8 lg:max-w-[75%]">
                                            {{ block.settings.text }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "FAQ",
        "settings": [
            {
                "type": "select",
                "id": "color",
                "label": "Section colors",
                "options": [
                    {
                        "label": "Light",
                        "value": "light"
                    },
                    {
                        "label": "Dark",
                        "value": "dark"
                    }
                ],
                "default": "dark"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            }
        ],
        "blocks": [
            {
                "type": "faq",
                "name": "FAQ",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Question"
                    },
                    {
                        "type": "inline_richtext",
                        "id": "text",
                        "label": "Answer"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "FAQ",
                "blocks": [
                    {
                        "type": "faq"
                    },
                    {
                        "type": "faq"
                    },
                    {
                        "type": "faq"
                    }
                ]
            }
        ]
    }
{% endschema %}