<footer class="footer bg-brown text-cream p-[26px] lg:p-[35px]">
  <div class="border-cream border-2 rounded-[10px] p-[25px] lg:px-[37px] lg:py-[32px]">
    <div class="">
      <div class="grid grid-cols-12 gap-15">

        <div class="col-span-full flex flex-row justify-center lg:justify-between items-start lg:mb-30">
          <div class="">
            <a href="{{ routes.root_url }}" class="w-[122px] lg:w-[max(153px,11vw)] block pt-5 pb-[8px] [&_svg]:w-full [&_svg]:h-auto" aria-label="Header Logo Link">
              {% if settings.logo_svg != blank %}
                  {{ settings.logo_svg }}
                {% elsif settings.logo_image != blank %}
                  {{ settings.logo_image | image_url: width: 200 | image_tag: width: settings.logo_image.width, class: 'w-full', sizes: '200px', widths: '100, 150, 200, 300' }}
                {% else %}
                  {{ shop.name }}
                {% endif %}
              </a>
          </div>

          <div class="hidden lg:block [&_svg]:w-full [&_svg]:h-auto max-w-[max(42px,11vw)] md:max-w-[max(58px,4vw)]">
            {% if settings.secondary_logo != blank %}
              {{ settings.secondary_logo }}
            {% endif %}
          </div>
        </div>

        <div class="col-span-full lg:col-start-3 lg:col-span-4">
          <div class="mt-40 mb-50 flex lg:justify-start row-start-2 lg:row-start-auto lg:m-0 lg:pr-30">
            <div class="max-w-full w-full lg:max-w-custom" style="--width: 375px;">
              {% if section.settings.newsletter_title != blank %}
                <p class="mb-10 text-arizona-28 lg:text-arizona-42 leading-[30px] tracking-[-0.75px] md:tracking-[-2.37px] lg:leading-normal" >{{ section.settings.newsletter_title }}</p>
              {% endif %}
              {% if section.settings.newsletter_text != blank %}
                <p class="mb-30 text-oracle-14">{{ section.settings.newsletter_text }}</p>
              {% endif %}
  
              {% if section.settings.klaviyo_form_embed != blank %}
                {{ section.settings.klaviyo_form_embed }}
              {% else %}
                {% form 'customer', id: 'ContactFooter', class: '' %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="flex border-b border-cream">
                    <label class="field__label visually-hidden" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <input
                      class="w-full h-auto pb-[14px] text-oracle-14 bg-transparent text-cream placeholder:text-cream lg:placeholder:text-cream/50"
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="Enter Email"
                      required
                    >
                    <button type="submit" class="pb-10" name="commit" aria-label="Submit">
                      <span class="invisible h-0 w-0 opacity-0 block" >Submit</span>
                      <span>{% render 'link-arrow' %}</span>
                    </button>
                  </div>
                  {% if form.errors %}
                    <p class="newsletter-form__message form__message text-oracle-16" id="ContactFooter-error">{{ form.errors.messages['email'] }}</p>
                  {% endif %}
                  {% if form.posted_successfully? %}
                    <p class="newsletter-form__message newsletter-form__message--success form__message text-oracle-16" id="ContactFooter-success" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</p>
                  {% endif %}
                {% endform %}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-span-full lg:col-span-5">
          <div class="flex flex-row justify-between items-start flex-wrap gap-10">
            {% if section.settings.contact != blank %}
              <div class="">
                <h5 class="text-arizona-26 mb-[18px] md:mb-10">Contact</h5>
                <p class="md:pl-15 text-oracle-14 md:text-oracle-16 lg:leading-[30px]">{{ section.settings.contact | newline_to_br }}</p>
              </div>
            {% endif %}
            {% if section.settings.menu != blank %}
              {% for link in section.settings.menu.links %}
                <div class="">
                  <h5 class="text-arizona-26 mb-[12px] md:mb-10">{{ link.title }}</h5>
                  <ul class="flex {% if link.title == "Social" or link.title == "social" %}gap-x-[16px] flex-row lg:flex-col{% else %}md:pl-15 flex-col{% endif %}">
                    {% for child_link in link.links %}
                      <li>
                        <a href="{{ child_link.url }}" {% if child_link.type == 'http_link' %} target="_blank" {% endif %} class=" text-oracle-14 md:text-oracle-16 !leading-[30.13px] underline-offset-2 hover:underline{% if child_link.active %} active{% endif %}">
                          {% if link.title == "Social" or link.title == "social" %}
                            <span class="invisible w-0 h-0 block lg:inline lg:visible lg:w-auto lg:h-auto">{{ child_link.title }}</span>
                            <span class="block lg:hidden w-20 h-20 [&_svg]:w-full [&_svg]:h-full">
                              {% case child_link.title %}
                                {% when 'Instagram' %}
                                  {% render 'icon' icon: 'instagram' %}
                                {% when 'Facebook' %}
                                  {% render 'icon' icon: 'facebook' %}
                                {% when 'Twitter' %}
                                  {% render 'icon' icon: 'twitter' %}
                                {% when 'Youtube' %}
                                  {% render 'icon' icon: 'youtube' %}
                                {% when 'Pinterest' %}
                                  {% render 'icon' icon: 'pinterest' %}
                                {% when 'Tumblr' %}
                                  {% render 'icon' icon: 'tumblr' %}
                                {% when 'Snapchat' %}
                                  {% render 'icon' icon: 'snapchat' %}
                                {% when 'Vimeo' %}
                                  {% render 'icon' icon: 'vimeo' %}
                              {% endcase %}
                            </span>
                          {% else %}
                            <span>{{ child_link.title }}</span>
                          {% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            {% endif %}

          </div>
        </div>
      </div>

      <div class="col-span-full pt-[64px]">
        <div class="grid grid-cols-[1fr,auto,1fr] gap-5  md:flex flex-row justify-between items-end md:gap-20 font-pangram uppercase text-[8px] lg:text-pangram-custom" style="--size: 10px;">
          <p class="text-center lg:text-left">&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. <br class="block lg:hidden"> All rights reserved.</p>

          <div class="max-w-[43px] md:max-w-[65px] block lg:hidden *:w-full *:h-auto">
            {% if settings.secondary_logo != blank %}
              {{ settings.secondary_logo }}
            {% endif %}
          </div>

          <p class="text-center lg:text-right"><a href="https://nicepeople.com/" target="_blank"><span class="block lg:hidden">Brand & Web</span> Made by Nice people</a></p>
          {% comment %} <a href="/pages/terms-conditions" class="text-m-body hover:underline md:text-oracle-18">Terms & Conditions</a>
          <a href="/pages/privacy-policy" class="text-m-body hover:underline md:text-oracle-18">Privacy Policy</a> {% endcomment %}
        </div>
        <button href="js-open-credits" class="hidden hover:underline text-pangram-12">Site Credits</button>
      </div>
    </div>
  </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "paragraph",
      "content": "Upload logo in Theme settings"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Stay in the loop"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_text",
      "label": "Newsletter Text",
      "default": "Sign up to receive news on limited collection and events, as well as 10% off your first order"
    },
    {
      "type": "liquid",
      "id": "klaviyo_form_embed",
      "label": "Klaviyo form embed"
    },
    {
      "type": "header",
      "content": "Contact"
    },
    {
      "type": "textarea",
      "id": "contact",
      "label": "Contact info"
    },
    {
      "type": "header",
      "content": "Links"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
