<div class="px-25">
  <header class="top-0 relative px-[16px] md:px-[28px]">

    {% assign mega_menus = section.blocks | where: 'type', 'mega_menu' %}
    {% assign menu_images = section.blocks | where: 'type', 'hover_image' %}

    <div class="grid grid-cols-thirds items-center gap-20">
      <!-- Navigation -->
      {% if section.settings.menu != blank %}
        <nav class="flex h-full">
          <ul class="hidden items-center gap-30 lg:gap-[37px] md:flex" role="list">
            {% for link in section.settings.menu.links %}
              {% assign downcased_link_title = link.title | downcase | strip %}
              {% assign mega_menu_names = '' %}

              {% for block in mega_menus %}
                {% if block.type == 'mega_menu' %}
                  {% assign trim_mega_menu_name = block.settings.title | strip %}
                  {% assign mega_menu_names = mega_menu_names | append: trim_mega_menu_name | append: ',' %}
                {% endif %}
              {% endfor %}

              {% assign mega_menu_names = mega_menu_names | downcase | split: ',' | compact %}
              
              {% unless mega_menu_names contains downcased_link_title %}
                <li class="group/nav">
                  {% if link.links != blank %}
                    <div class="peer flex items-center gap-10 cursor-pointer relative">
                      <span {% if link.child_active %} class=""{% endif %}>{{ link.title | escape }}</span>
                      <div class="transition-transform ease-in-out group-hover/nav:rotate-180">
                        {% comment %} {% render 'icon' icon: 'caret' %} {% endcomment %}
                      </div>
                    </div>
                    <ul class="min-w-[200px] pt-20 pr-20 pb-30 pl-30 flex flex-col gap-15 absolute top-full translate-x-[-30px] opacity-0 invisible bg-white group-hover/nav:opacity-100 group-hover/nav:visible transition-visibility ease-in-out" role="list" tabindex="-1">
                      {% for childlink in link.links %}
                        <li>
                          <a href="{{ childlink.url }}" class="relative"{% if childlink.current %} aria-current="page"{% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <a href="{{ link.url }}" class="block relative"{% if link.current %} aria-current="page"{% endif %}>
                      {{ link.title | escape }}
                    </a>
                  {% endif %}
                </li>
              {% else %}
                <li class="group/nav" @mouseenter="openMenu = true" @mouseleave=" openMenu = false">
                  <a href="{{ link.url }}" class="flex items-center gap-10 relative"{% if link.current %} aria-current="page"{% endif %}>
                    {{ link.title | escape }}
                    <div class="transition-transform origin-center ease-in-out group-hover/nav:rotate-180">
                      {% comment %} {% render 'icon' icon: 'caret' %} {% endcomment %}
                    </div>
                  </a>

                  {% for block in mega_menus %}
                    {% assign trim_mega_menu_name = block.settings.title | strip %}
                    {% assign downcased_mega_menu_name = trim_mega_menu_name | downcase %}
                    {% assign mega_menu_names = mega_menu_names | append: trim_mega_menu_name | append: ',' %}
                    
                    {% if downcased_mega_menu_name == downcased_link_title %}
                      <div x-data="{ hovered: ''}" class="group-megamenu mega-menu w-full p-[36px] rounded-b-[10px] absolute top-full left-0 invisible opacity-0 overflow-auto text-left z-20 transition-visibility duration-300 group-hover/nav:visible group-hover/nav:opacity-100" {{ block.shopify_attributes }}>
                        <div class="grid grid-cols-12 gap-20">
                          <div class="{% if block.settings.image != blank %}col-span-6{% else %}col-span-full{% endif %} flex flex-row">
                            {% assign halfway = link.links.size | divided_by: 2 %}
                            <div class="grid grid-cols-2 grid-flow-row-dense w-full gap-[22px] group-megamenuCol [&:hover_div]:opacity-50">
                              {% for child_link in link.links %}
                                <div class="hover:!opacity-100 transition-opacity">
                                  <h2 class="text-arizona-26">{{ child_link.title }}</h2>
                                  <ul @mouseleave=" hovered = ''" class="flex flex-col ml-40 [&:hover_li]:opacity-50">
                                    {% for grandchild_link in child_link.links %}
                                      <li class="hover:!opacity-100 transition-opacity">
                                        <a @mouseenter=" hovered = '{{ grandchild_link.title }}'" href="{{ grandchild_link.url }}" class="block">{{ grandchild_link.title }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endfor %}
                            </div>
                          </div>

                          {% if block.settings.image != blank %}
                            <div class="col-span-6">
                              <div class="w-full h-full rounded-[10px] overflow-hidden relative">
                                <div class="w-full h-full absolute top-0 left-0">
                                  {{ block.settings.image | image_url: width: 1400 | image_tag: class: 'w-full h-full object-cover object-center relative' }}
                                  
                                  {% if block.settings.text != blank %}
                                    <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center">
                                      <div class="bg-brown opacity-10 absolute top-0 left-0 w-full h-full"> </div>
                                      <h4 class="relative text-arizona-48 text-center text-cream whitespace-normal">{{ block.settings.text }}</h4>
                                    </div>
                                  {% endif %}
                                </div>

                                {% for hover in menu_images %}
                                  <div :class="{ 'active': hovered == '{{ hover.settings.title }}' }" class="w-full h-full absolute top-0 left-0 inset opacity-0 delay-300 z-[2] scale-105 [&.active]:delay-0 [&.active]:scale-100 [&.active]:z-[3] [&.active]:opacity-100 transition-[transform,opacity]">
                                    {{ hover.settings.image | image_url: width: 1400 | image_tag: class: 'w-full h-full object-cover object-center relative' }}
                                    
                                    {% if hover.settings.text != blank %}
                                      <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center">
                                        <div class="bg-brown opacity-10 absolute top-0 left-0 w-full h-full"> </div>
                                        <h4 class="relative text-arizona-48 text-center text-cream whitespace-normal">{{ hover.settings.text }}</h4>
                                      </div>
                                    {% endif %}
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </li>
                {% endunless %}
            {% endfor %}
          </ul>

          <div class="text-oracle-16 flex flex-col justify-center items-start">
            <button class="js-open-menu md:hidden">
              Menu
              {% comment %} {% render 'icon' icon: 'hamburger' %} {% endcomment %}
            </button>
            <button class="js-close-menu" aria-label="close menu">
              {% render 'icon' icon: 'close-small' %}
            </button>
          </div>
        </nav>
      {% endif %}

      <!-- Logo -->
      <a data-header-logo href="{{ routes.root_url }}" class="max-w-[80px] lg:max-w-[115px] mx-auto w-full block py-10 md:pt-5 lg:pb-[8px] *:w-full *:h-auto transition-opacity" aria-label="Header Logo Link">
      {% if settings.logo_svg != blank %}
          {{ settings.logo_svg }}
        {% elsif settings.logo_image != blank %}
          {{ settings.logo_image | image_url: width: 200 | image_tag: width: settings.logo_image.width, class: 'w-full', sizes: '200px', widths: '100, 150, 200, 300' }}
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>

      <!-- Icons -->
      <div class="flex justify-end items-center gap-30 text-oracle-16">
        {% if section.settings.enable_search %}
          <button class="hidden relative md:block" data-open-search>
            {% comment %} {% render 'icon' icon: 'search' %} {% endcomment %}
            <span class="">Search</span>
            <div class="hidden absolute bottom-0 left-0 right-full border-b-1 border-black transition-position group-hover/link:right-0 md:block"></div>
          </button>
        {% endif %}
        {% comment %} {% if section.settings.enable_search %}
          <button class="group/link hidden relative md:block" data-open-search>
            <span class="md:hidden">
              {% render 'icon' icon: 'search' %}
              <span class="visually-hidden">Search</span>
            </span>
            <span class="py-20 hidden text-cta uppercase md:block">Search</span>
            <div class="hidden absolute bottom-0 left-0 right-full border-b-1 border-black transition-position group-hover/link:right-0 md:block"></div>
          </button>
        {% endif %} {% endcomment %}

        {% if shop.customer_accounts_enabled %}
          <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="hidden md:block">
            {% comment %} {% render 'icon' icon: 'account' %} {% endcomment %}
            <span class="">Account</span>
          </a>
        {% endif %}

        {% if template != 'cart' %}
          <button class="js-open-cart relative" id="cart-icon-bubble" aria-label="Open Cart Drawer" data-id="{{ section.id }}">
            {% comment %} {% render 'icon' icon: 'cart' %} {% endcomment %}
            <span class="">Cart</span>
            {% if cart != empty %}
              <div class="h-15 w-15 p-px rounded-full absolute top-[-2px] left-full flex justify-center items-center text-[10px] bg-[var(--text)] text-[var(--background)]">
                {{ cart.item_count }}
              </div>
            {% endif %}
          </button>
        {% else %}
          <a href="{{ routes.cart_url }}" class="relative" id="cart-icon-bubble" data-id="{{ section.id }}">
            {% render 'icon' icon: 'cart' %}
            <span class="visually-hidden">Cart</span>
            {% if cart != empty %}
              <div class="h-15 w-15 p-px rounded-full absolute top-[-2px] left-full flex justify-center items-center text-[10px] bg-[var(--text)] text-[var(--background)]">
                {{ cart.item_count }}
              </div>
            {% endif %}
          </a>
        {% endif %}
      </div>

    </div>

    {% if section.settings.enable_search %}
      {% render 'search-dropdown' %}
    {% endif %}

  </header>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

<script type="application/ld+json">

  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": {{ shop.name | json }},
    "potentialAction": {
      "@type": "SearchAction",
      "target": {{ potential_action_target | json }},
      "query-input": "required name=search_term_string"
    },
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "paragraph",
      "content": "Upload logo in Theme Settings"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "checkbox",
      "id": "enable_search",
      "label": "Enable Search",
      "default": true
    },
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega Menu",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Config"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Item",
          "info": "Enter menu item to apply a mega menu dropdown."
        },
        {
          "type": "paragraph",
          "content": "Right side menu feature"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "hover_image",
      "name": "Hover image",
      "settings": [
        {
          "type": "header",
          "content": "Config"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu Item",
          "info": "Enter menu item to apply an image that will show during hover"
        },
        {
          "type": "paragraph",
          "content": "Right side menu feature"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Heading"
        }
      ]
    }
  ]
}
{% endschema %}