<div class="">
  <div class="swiper w-full h-full relative" data-swiper="hero">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign slide = block.settings %}
        {% if slide.image == blank %}{% continue %}{% endif %}
        <div class="swiper-slide w-full h-full screen-height-with-nav pt-[var(--nav-height)] relative flex flex-col gap-20 content-{{ slide.content_position }}" style="--text: {{ slide.text_color }};">

          {% if block.type == "full" %}
            {% if slide.image != blank %}
              {{ slide.image | image_url: width: 2000 | image_tag: preload: true, width: slide.image.width, class: 'w-full h-full inset object-cover object-center', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
              {% if slide.mobile_image != blank %}
                {{ slide.mobile_image | image_url: width: 2000 | image_tag: preload: true, width: slide.mobile_image.width, class: 'w-full h-full inset object-cover object-center block md:hidden', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
              {% endif %}
            {% elsif slide.video != blank %}
              {{ slide.video | video_tag: controls: false, autoplay: true, mute: true, loop: true, class: 'w-full h-full object-cover object-center', image_size: '1000x'  }}
              {% if slide.mobile_video != blank %}
                {{ slide.mobile_video | video_tag: controls: false, autoplay: true, mute: true, loop: true, class: 'w-full h-full object-cover object-center block md:hidden', image_size: '1000x'  }}
              {% endif %}
            {% endif %}
          {% else %}
            <div class="grid grid-rows-2 lg:grid-rows-none lg:grid-cols-2 inset">
              <div class="relative w-full h-full">
                {% if slide.image != blank %}
                  {{ slide.image | image_url: width: 2000 | image_tag: preload: true, width: slide.image.width, class: 'w-full h-full inset object-cover object-center', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
                  {% if slide.mobile_image != blank %}
                    {{ slide.mobile_image | image_url: width: 2000 | image_tag: preload: true, width: slide.mobile_image.width, class: 'w-full h-full inset object-cover object-center block md:hidden', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
                  {% endif %}
                {% elsif slide.video != blank %}
                  {{ slide.video | video_tag: controls: false, autoplay: true, mute: true, loop: true, class: 'w-full h-full object-cover object-center', image_size: '1000x'  }}
                  {% if slide.mobile_video != blank %}
                    {{ slide.mobile_video | video_tag: controls: false, autoplay: true, mute: true, loop: true, class: 'w-full h-full object-cover object-center block md:hidden', image_size: '1000x'  }}
                  {% endif %}
                {% endif %}
              </div>

              <div class="relative w-full h-full">
                {% if slide.image_right != blank %}
                  {{ slide.image_right | image_url: width: 2000 | image_tag: preload: true, width: slide.image_right.width, class: 'w-full h-full inset object-cover object-center', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
                  {% if slide.mobile_image_right != blank %}
                    {{ slide.mobile_image_right | image_url: width: 2000 | image_tag: preload: true, width: slide.mobile_image_right.width, class: 'w-full h-full inset object-cover object-center block md:hidden', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
                  {% endif %}
                {% elsif slide.video_right != blank %}
                  {{ slide.video_right | video_tag: controls: false, autoplay: true, mute: true, loop: true, class: 'w-full h-full object-cover object-center', image_size: '1000x'  }}
                  {% if slide.mobile_video_right != blank %}
                    {{ slide.mobile_video_right | video_tag: controls: false, autoplay: true, mute: true, loop: true, class: 'w-full h-full object-cover object-center block md:hidden', image_size: '1000x'  }}
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endif %}

            <div class="relative z-[1] w-full h-full text-[var(--text)] p-25 md:p-30 lg:p-[max(100px,7vw)]">
              <div class="max-w-custom mx-auto w-full h-full flex flex-col gap-20 content-{{ slide.content_position }}" style="--width: 600px">
                {% if slide.title != blank %}
                  <h2 class="text-pangram-20" data-animate>{{ slide.title }}</h2>
                {% endif %}
                {% if slide.heading != blank %}
                  <h1 class="row-[2/3] text-arizona-60 lg:text-arizona-80" data-aniamte>
                    {{ slide.heading | newline_to_br }}
                  </h1>
                {% endif %}
                {% if slide.button_label != blank and slide.button_link != blank %}
                  <a data-animate href="{{ slide.button_link }}" class="svg-link text-oracle-16 leading-[30px] px-[13px] flex flex-row justify-start items-center gap-[9px] font-semibold">
                    {{ slide.button_label }}
                    <span>{% render 'link-arrow' %}</span>
                  </a>
                {% elsif slide.button_link != blank %}
                  <a data-animate href="{{ slide.button_link }}" class="absolute top-0 left-0 w-full h-full"> </a>
                {% endif %}
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

    <div class="swiper-hero-pagination swiper-pagination z-[2] opacity-0 lg:opacity-100"></div>

    {% if section.settings.logo_transition == true and settings.logo_svg != blank %}
      <div data-logo-transition class="text-cream mx-auto w-full max-w-full lg:max-w-[90%] h-auto max-h-[50svh] [&_svg]:w-full [&_svg]:h-full absolute -bottom-10 left-half -translate-x-half z-[3] origin-bottom">
        {{ settings.logo_svg }}
      </div>
    {% endif %}
  </div>

  {% if section.settings.text != blank %}
    <div class="bg-cream text-brown text-oracle-18 p-[27px]">
      <div class="page-width text-center" data-animate>
        {{ section.settings.text }}
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "logo_transition",
        "label": "Logo scroll transition",
        "default": false
      }
    ],
    "blocks": [
      {
        "name": "Full width image",
        "type": "full",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "paragraph",
            "content": "or"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "header",
            "content": "Mobile (optional)"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Image"
          },
          {
            "type": "paragraph",
            "content": "or"
          },
          {
            "type": "video",
            "id": "mobile_video",
            "label": "Video"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "Content position",
            "options": [
              {
                "value": "left_top",
                "label": "Left Top"
              },
              {
                "value": "center_top",
                "label": "Center Top"
              },
              {
                "value": "right_top",
                "label": "Right Top"
              },
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left_bottom",
                "label": "Left Bottom"
              },
              {
                "value": "center_bottom",
                "label": "Center Bottom"
              },
              {
                "value": "right_bottom",
                "label": "Right Bottom"
              }
            ],
            "default": "center"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text color",
            "options": [
              {
                "value": "#2B1D0A",
                "label": "Dark"
              },
              {
                "value": "#F1ECE3",
                "label": "Light"
              }
            ],
            "default": "#F1ECE3"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Subhead"
          },
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
            "info": "Leave Label field blank to make entire slide clickable"
          }
        ]
      },
      {
        "name": "Split width images",
        "type": "split",
        "settings": [
          {
            "type": "header",
            "content": "Media left"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "paragraph",
            "content": "or"
          },
          {
            "type": "video",
            "id": "video",
            "label": "Video"
          },
          {
            "type": "paragraph",
            "content": "Mobile (optional)"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Image"
          },
          {
            "type": "paragraph",
            "content": "or"
          },
          {
            "type": "video",
            "id": "mobile_video",
            "label": "Video"
          },
          {
            "type": "header",
            "content": "Media right"
          },
          {
            "type": "image_picker",
            "id": "image_right",
            "label": "Image"
          },
          {
            "type": "paragraph",
            "content": "or"
          },
          {
            "type": "video",
            "id": "video_right",
            "label": "Video"
          },
          {
            "type": "paragraph",
            "content": "Mobile (optional)"
          },
          {
            "type": "image_picker",
            "id": "mobile_image_right",
            "label": "Image"
          },
          {
            "type": "paragraph",
            "content": "or"
          },
          {
            "type": "video",
            "id": "mobile_video_right",
            "label": "Video"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "select",
            "id": "content_position",
            "label": "Content position",
            "options": [
              {
                "value": "left_top",
                "label": "Left Top"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "right_top",
                "label": "Right Top"
              },
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "left_bottom",
                "label": "Left Bottom"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "right_bottom",
                "label": "Right Bottom"
              }
            ],
            "default": "center"
          },
          {
            "type": "text",
            "id": "cursor_text",
            "label": "Custom cursor text",
            "info": "Leave blank for default cursor"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text color",
            "options": [
              {
                "value": "#2B1D0A",
                "label": "Dark"
              },
              {
                "value": "#F1ECE3",
                "label": "Light"
              }
            ],
            "default": "#F1ECE3"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Subhead"
          },
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
            "info": "Leave Label field blank to make entire slide clickable"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}