<div class="h-[600px] flex justify-center items-center relative">
  {% if section.settings.image != blank %}
    {{ section.settings.image | image_url: width: 2000 | image_tag: preload: true, width: section.settings.image.width, class: 'w-full h-full inset object-cover', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
    {% if section.settings.mobile_image != blank %}
      {{ section.settings.mobile_image | image_url: width: 2000 | image_tag: preload: true, width: section.settings.mobile_image.width, class: 'w-full h-full inset object-cover block md:hidden', sizes: '100vw', widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000' }}
    {% endif %}
  {% endif %}
  <div class="page-width">
    <div class="max-w-custom mx-auto text-center" style="--width: 600px">
      <h2 class="mb-30 text-m-h1 font-bold md:text-arizona-80">{{ section.settings.title }}</h2>
      <a href="{{ section.settings.button_link }}" class="button">{{ section.settings.button_label }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "header",
        "content": "Image"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}