<div class="login {% if section.settings.image != blank %} flex flex-col md:grid md:grid-cols-2 md:items-center{% endif %}">
    {% if section.settings.image != blank %}
      <div class="pb-full relative overflow-hidden h-full">
        {{ section.settings.image | image_url: width: 1600 | image_tag: class: "w-full h-full object-cover inset" }}
      </div>
    {% endif %}
    <div class="max-w-custom w-full mx-auto mt-40 mb-60 px-20 md:px-40 md:my-100" style="--width: 600px;">
      <div class="max-w-custom mx-auto w-full" style="--width: 435px;">
        <h1 class="text-arizona-40 lg:text-arizona-48 text-center mb-[33px]" data-login-title>Sign In</h1>
  
        <div id="recover">
          <p class="max-w-custom mx-auto -mt-30 mb-30 text-m-body-2 text-center md:text-body-3">Enter your email and we will send your login details to the email on file.</p>
          
          {% form 'recover_customer_password' %}
            {% assign recover_success = form.posted_successfully? %}
            <div class="mb-[14px]">
              <label class="field__label visually-hidden" for="RecoverEmail">Email</label>
              <input type="email"
                class="field__input"
                value=""
                name="email"
                id="RecoverEmail"
                autocorrect="off"
                autocapitalize="off"
                autocomplete="email"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="RecoverEmail-email-error"
                  autofocus
                {% endif %}
                placeholder="Email"
              >
              
              {% if form.errors %}
                <div class="mt-10 text-body-2 text-error">{{ form.errors | default_errors }}</div>
              {% endif %}
            </div>
  
            <button class="button button--large max-w-full w-full">Submit</button>
  
            <div class="mt-15 text-center">
              <a href="#login" class="text-oracle-12 lg:text-oracle-16 underline forgot-password-cancel">Back to Login</a>
            </div>
          {% endform %}
        </div>
  
        <div class="customer-gate__container" id="login">
  
          {% if recover_success == true %}
            <p class="mb-20 text-body-3">An email will be sent to you shortly to reset.</p>
          {% endif %}
  
          {% form 'customer_login', novalidate: 'novalidate' %}
          
            <div class="mb-[14px]">  
              <label class="field__label visually-hidden" for="CustomerEmail">Email</label>      
              <input
                type="email"
                class="field__input"
                name="customer[email]"
                id="CustomerEmail"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors contains 'form' %}
                  aria-invalid="true"
                {% endif %}
                placeholder="{{ 'customer.login_page.email' | t }}"
              >
            </div>
  
            {% if form.password_needed %}
              <div class="mb-[14px]">         
                <label class="field__label visually-hidden" for="CustomerPassword">Password</label> 
                <input
                  type="password"
                  class="field__input"
                  value=""
                  name="customer[password]"
                  id="CustomerPassword"
                  autocomplete="current-password"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                  placeholder="{{ 'customer.login_page.password' | t }}"
                >
  
                {% if form.errors %}
                  <div class="mt-10 text-body-1 text-error">{{ form.errors | default_errors }}</div>
                {% endif %}
              </div>
  
            {% endif %}
  
            <button class="button button--large w-full max-w-full">Sign In</button>
  
            <div class="mt-[47px] flex flex-col justify-center items-center gap-[18px]">
              {{ 'Forgot Password' | link_to: '#recover', class: 'forgot-password text-oracle-12 lg:text-oracle-16 underline' }}

              <div class="text-oracle-12 lg:text-oracle-16">Don't Have An Account? {{ 'Sign Up' | link_to: routes.account_register_url, class: 'text-oracle-12 lg:text-oracle-16 underline' }}</div>
            </div>
            
          {% endform %}
        </div>
  
      </div>
  
  
    </div>
  </div>
  
  <style>
    {% if section.settings.image != blank %}
      @media screen and (max-width: 767px) {
        
        #MainContent {
          margin-top: 0;
        }
      }
    {% endif %}
  
    /* Formatting */
    #recover,
    #login {
      scroll-margin-top: 500px;
    }
  
    #recover {
      display: none;
    }
  
    #recover:target {
      display: block;
    }
  
    #recover:target + #login {
      display: none;
    }
  
    #login:target {
      display: block;
    }
  
    #rc_login {
      display: none !important;
    }
  </style>
  
  {% schema %}
    {
      "name": "Login",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "presets": [
        {
          "name": "Login"
        }
      ]
    }
  {% endschema %}