<div class="screen-height-with-nav flex flex-col justify-start items-center page-width"
    x-data="{ tab: 'addresses' }"
>
    <div class="mt-[max(130px,0.9vw)] mb-50 page-width flex flex-col justify-start items-center">
        <h1 class="text-arizona-40 lg:text-arizona-48 text-center mb-[33px]">My Account</h1>

        <a href="{{ routes.account_logout_url }}" class="underline inline-block underline-offset-4" data-tab="orders">
            Log Out
        </a>
    </div>
  
    <div class="px-20 border-b-1 border-[var(--text)] w-full overflow-x-auto overflow-y-clip no-scrollbar md:px-40">
        <div class="w-fit mx-auto flex items-center gap-40">
            <button class="py-[18px] mb-[3px] underline-when-active text-pangram-12 lg:text-pangram-14 uppercase after:h-[3px] before:h-[3px]" data-tab="addresses" @click=" tab = 'addresses'" :class=" tab == 'addresses' ? 'active' : ''">
                Billing
            </button>
            <button class="py-[18px] mb-[3px] underline-when-active text-pangram-12 lg:text-pangram-14 uppercase after:h-[3px] before:h-[3px]" data-tab="orders" @click=" tab = 'orders'" :class=" tab == 'orders' ? 'active' : ''">
                Orders
            </button>
        </div>
    </div>
  
    <div class="w-full pt-[43px]">
        <div x-show="tab == 'addresses'" x-transition class="account-content" data-tab="addresses">
            <h2 class="text-arizona-24 lg:text-arizona-36 mb-[33px] lg:mb-[48px]">Billing Addresses</h2>

            <div data-customer-addresses>
                {% render 'addresses' %}
            </div>
        </div>
        
        <div x-show="tab == 'orders'" x-transition class="account-content" data-tab="orders">
            <h2 class="text-arizona-24 lg:text-arizona-36 mb-[26px] lg:mb-[48px]">Order History</h2>

            {% paginate customer.orders by 20 %}
                <div class="">

                    {% if customer.orders.size > 0 %}

                        <table role="table" class="order-history w-full block border-[var(--text)] md:table">
                            <thead class="hidden md:table-header-group" role="rowgroup">
                                <tr class="text-left text-pangram-16 uppercase" role="row">
                                    <th class="pb-20 border-b-1 border-[var(--text)]" id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                                    <th class="pb-20 border-b-1 border-[var(--text)]" id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                                    <th class="pb-20 border-b-1 border-[var(--text)]" id="ColumnPayment" scope="col" role="columnheader">Payment Status</th>
                                    <th class="pb-20 border-b-1 border-[var(--text)]" id="ColumnTracking" scope="col" role="columnheader">Tracking Number</th>
                                    <th class="pb-20 border-b-1 border-[var(--text)]" id="ColumnFulfillment" scope="col" role="columnheader">Status</th>
                                    <th class="pb-20 border-b-1 border-[var(--text)]" id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                                </tr>
                            </thead>
                            <tbody class="w-full block md:table-row-group" role="rowgroup">
                                {%- for order in customer.orders -%}
                                <tr class="grid grid-cols-2 md:table-row" role="row">
                                    <td class="text-oracle-14 lg:text-oracle-18 border-b-0 border-[var(--text)] block md:py-20 md:border-b-1 md:table-cell" headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                                        <div class="py-5 flex flex-col justify-start items-start gap-[3px] md:p-0">
                                            <div class="text-pangram-10 leading-[30px] md:hidden">{{ 'customer.orders.date' | t }}</div>
                                            <div class="text-oracle-14 lg:text-oracle-18">{{ order.created_at | time_tag: format: 'date' }}</div>
                                        </div>
                                    </td>
                                    <td
                                    class="text-oracle-14 lg:text-oracle-18 border-b-0 border-[var(--text)] block md:py-20 md:border-b-1 md:table-cell"
    
                                    role="cell"
                                    headers="ColumnOrder"
                                    data-label="{{ 'customer.orders.order_number' | t }}"
                                    >
                                        <div class="py-5 flex flex-col justify-start items-start gap-[3px] md:p-0">
                                            <div class="text-pangram-10 leading-[30px] md:hidden">{{ 'customer.orders.order_number' | t }}</div>
                                            <a href="{{ order.customer_url }}" class="text-oracle-14 lg:text-oracle-18 underline" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                                                {{ order.name }}
                                            </a>
                                        </div>
                                    </td>
                                    <td
                                        class="text-oracle-14 lg:text-oracle-18 border-b-0 border-[var(--text)] block md:py-20 md:border-b-1 md:table-cell"
                                        headers="RowOrder ColumnPayment"
                                        role="cell"
                                        data-label="{{ 'customer.orders.payment_status' | t }}"
                                      >
                                        <div class="py-5 flex flex-col justify-start items-start gap-[3px] md:p-0">
                                            <div class="text-pangram-10 leading-[30px] md:hidden">Payment Status</div>
                                            <div class="text-oracle-14 lg:text-oracle-18">{{ order.financial_status_label }}</div>
                                        </div>
                                      </td>
                                    <td
                                    class="text-oracle-14 lg:text-oracle-18 border-b-0 border-[var(--text)] block md:py-20 md:border-b-1 md:table-cell"
                                    headers="RowOrder ColumnTracking"
                                    role="cell"
                                    data-label="Tracking Numbers"
                                    >
                                    <div class="py-5 flex flex-col justify-start items-start gap-[3px] md:p-0">
                                        <div class="text-pangram-10 leading-[30px] md:hidden">Tracking Number</div>
                                        <div class="text-oracle-14 lg:text-oracle-18">
                                            {% for line_item in order.line_items %}
                                                {% if line_item.fulfillment.tracking_number != blank %}
                                                    <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_number }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    </td>
                                    <td
                                    class="border-b-1 border-[var(--text)] block md:py-20 md:table-cell"
                                    headers="RowOrder ColumnFulfillment"
                                    role="cell"
                                    data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                                    >
                                        <div class="pb-[13px] pt-5 flex flex-col justify-start items-start gap-[3px] md:p-0">
                                            <div class="text-pangram-10 leading-[30px] md:hidden">Status</div>
                                            <div class="text-oracle-14 lg:text-oracle-18">{{ order.fulfillment_status_label }}</div>
                                        </div>
                                    </td>
                                    <td class="text-oracle-14 lg:text-oracle-18 border-[var(--text)] block md:py-20 border-b-1 md:table-cell" headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                                        <div class="pb-[13px] pt-5 flex flex-col justify-start items-start gap-[3px] md:p-0">
                                            <div class="text-pangram-10 leading-[30px] md:hidden">{{ 'customer.orders.total' | t }}</div>
                                            <div class="text-oracle-14 lg:text-oracle-18">{{ order.total_net_amount | money_with_currency }}</div>
                                        </div>
                                    </td>
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>

                    {% else %}
                        <p class="mb-30 text-body-1">{{ 'customer.orders.none' | t }}</p>
                        <a href="{{ settings.shop_all_link }}" class="button button--large ">Shop All Products</a>
                    {% endif %}
                </div>

                {% if paginate.pages > 1 %}
                    {% render 'pagination', paginate: paginate, anchor: '' %}
                {% endif %}
            {% endpaginate %}
        </div>
    </div>
</div>
  
  <script>
    window.onload = () => {
      typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
    }
  </script>