{% liquid 
  assign split_product_title = product.title | split: "-"
%}

<section class="">
  <script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
  <div class="product flex flex-col-reverse md:grid md:grid-cols-12 md:gap-20">
    <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
      {{ "accessibility.skip_to_product_info" | t }}
    </a>

    <div id="ProductInfo-{{ section.id }}" class="col-span-6 py-20 lg:py-[57px]">
      {% assign product_form_id = 'product-form-' | append: section.id %}
      <div class="flex flex-col justify-center items-center gap-y-10 md:gap-y-[13px] w-full max-w-[max(564px,32vw)] mx-auto px-20 md:pr-0 ">
        <h1 class="text-arizona-40 lg:text-arizona-60 text-center">
          {{ split_product_title[0] }}
        </h1>

        {% if split_product_title[1] != blank  %}
          <h2 class="tracking-[-0.75px] md:tracking-none text-arizona-18 lg:text-arizona-26 text-center mb-[6px] md:mb-0">
            {{ split_product_title[1] }}
          </h2>
        {% endif %}

        <div class="flex flex-row justify-center items-center gap-[26px] mb-10 lg:mb-[17px]">
          <p id="price-{{ section.id }}" class="price flex items-center gap-5 text-pangram-16">
            {{ product.selected_or_first_available_variant.price | money }}
            {% if product.selected_or_first_available_variant.compare_at_price > product.price %}
              <span class="line-through opacity-50">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
            {% endif %}
          </p>

          <!-- Start of Judge.me code -->
            <div class="jdgm-widget jdgm-preview-badge *:text-oracle-14 [&_.jdgm-prev-badge\_\_text]:ml-[12px]">
              {{ product.metafields.judgeme.badge }}
            </div>
          <!-- End of Judge.me code -->
        </div>

        {% if product.metafields.custom.highlights != blank %}
          <div class="flex flex-row justify-center items-center flex-wrap gap-10 lg:gap-x-[14px] lg:gap-y-[13px] mb-30 lg:mb-45 text-oracle-12 lg:text-oracle-16 capitalize">
            {% for highlight in product.metafields.custom.highlights.value %}
              <div class="bg-blue pt-[8px] pb-[6px] px-[11px]">
                {{ highlight }}
              </div>
            {% endfor %}
          </div>
        {% elsif section.settings.highlights != blank %}
          {% assign highlights = section.settings.highlights | split: "|" %}
          <div class="flex flex-row justify-center items-center flex-wrap gap-10 lg:gap-x-[14px] lg:gap-y-[13px] mb-30 lg:mb-45 text-oracle-12 lg:text-oracle-16 capitalize">
            {% for highlight in highlights %}
              <div class="bg-blue py-[8px] px-[11px]">
                {{ highlight }}
              </div>
            {% endfor %}
          </div>
        {% endif %}

        {% if product.metafields.custom.overview != blank or product.metafields.custom.measurements_details != blank or product.metafields.custom.technical_specifications != blank %}
          <div class="w-full flex flex-col justify-start items-start gap-[16px] lg:gap-30" x-data="{ activeTab: 0, changeTab(i) { this.activeTab = i} }">
            <div class="no-scrollbar overflow-x-auto w-full">
              <div class="min-w-fit w-full flex flex-row justify-center items-center gap-x-20 pb-5 [&_button]:text-pangram-12 [&_button]:uppercase">
                {% if product.metafields.custom.overview != blank %}
                  <button @click.prevent="changeTab(0)" class="underline-when-active" :class="activeTab == 0 ? 'active' : ''">
                    Overview
                  </button>
                {% endif %}

                {% if product.metafields.custom.measurements_details != blank %}
                  <button @click.prevent="changeTab(1)" class="underline-when-active" :class="activeTab == 1 ? 'active' : ''">
                    Measurements + Details
                  </button>
                {% endif %}

                {% if product.metafields.custom.technical_specifications != blank %}
                  <button @click.prevent="changeTab(2)" class="underline-when-active" :class="activeTab == 2 ? 'active' : ''">
                    <span class="hidden lg:block">Technical Specifications</span>
                    <span class="block lg:hidden">Tech Specs</span>
                  </button>
                {% endif %}
              </div>
            </div>

            <div class="px-10 lg:px-30 text-oracle-14 lg:text-oracle-16 [&_p:first-of-type]:indent-8">
              {% if product.metafields.custom.overview != blank %}
                <div class=" [&_p:not(:last-child)]:mb-10" x-show="activeTab == 0">
                    <div x-data="{ open: false }">
                      <div class="relative">
                        <div :class="open ? '' : 'truncated' " class="overflow-hidden [&.truncated]:max-h-[116px]">
                          {{ product.metafields.custom.overview | metafield_tag }}
                        </div>
                        <button :class=" open ? 'from-cream/0 to-cream/0' : 'from-cream to-cream/60'" class="-mt-20 pt-20 text-left underline underline-offset-2 w-full bg-gradient-to-t" @click="open = !open">Read <span x-text=" open ? 'Less' : 'More'"></span></button>
                      </div>
                    </div>
                </div>
              {% endif %}

              {% if product.metafields.custom.measurements_details != blank %}
                <div class="[&_p:not(:last-child)]:mb-10"  x-show="activeTab == 1">
                  {{ product.metafields.custom.measurements_details | metafield_tag }}
                </div>
              {% endif %}

              {% if product.metafields.custom.technical_specifications != blank %}
                <div class="[&_p:not(:last-child)]:mb-10"  x-show="activeTab == 2">
                  {{ product.metafields.custom.technical_specifications | metafield_tag }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}


        {% comment %} {% if product.description != blank %}
          <div class="rte text-oracle-18">
            {{ product.description }}
          </div>
        {% endif %} {% endcomment %}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% if block.id contains 'infinite_options_app' %}
                {% capture infinite_options %}
                  <div class="
                     col-span-12 border-t border-brown py-[17px] lg:pt-[max(25px,1.7vw)] lg:pb-[max(30px,2vw)]
                    [&:nth-last-of-type(2)]:col-span-8 [&:nth-last-of-type(2)]:lg:border-r [&:nth-last-of-type(2)]:lg:border-b [&:nth-last-of-type(2)]:lg:pr-[min(30px,2vw)]
                    ">
                    {% render block %}
                  </div>
                {% endcapture %}
              {% endif %}
          {%- endcase -%}
        {%- endfor -%}

        {% render 'product-form' _p: product, product_form_id: product_form_id, show_custom_inquiry: section.settings.custom_inquiry, options_app: infinite_options  %}

        {% assign text_blocks = section.blocks | where: 'type', 'text' %}

        {% if text_blocks != blank %}
          <div class="flex flex-row justify-center items-center gap-x-[max(10px,3vw)] gap-y-10 flex-wrap mt-35">
          {% for block in text_blocks %}
            <p class="text-oracle-14">{{ block.settings.heading }}</p>
          {% endfor %}
          </div>
        {% endif %}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              <div class="w-full *:w-full">
                {% render block %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

    </div>

    <div class="col-span-6">
      <div class="bg-[var(--text)] text-[var(--background)] px-[4.5vw] pb-10 pt-5 lg:pt-[13px] lg:pb-[23px] sticky top-[var(--nav-height)] overflow-clip">

        {% if section.settings.title != blank %}
          <div class="py-5 text-center lg:mb-[13px]" style="--gap: 0px;">
            <div class="animate-marquee xl:animate-none no-scrollbar xl:overflow-x-auto gap-[var(--gap)]">
              <div class="mx-auto w-fit flex flex-row justify-center items-center gap-40 *:whitespace-nowrap">
                <p class="text-pangram-10 lg:text-pangram-14 leading-[30px]">
                  {{ section.settings.title }}
                </p>
          
                {% comment %} duplicate items for smaller browsers {% endcomment %}
                <p class="text-pangram-10 lg:text-pangram-14 leading-[30px] block xl:hidden">
                  {{ section.settings.title }}
                </p>
          
              </div>
            </div>
          </div>
        {% endif %}

        {% liquid
          assign selected_media = ''
          assign lifestyle = product.media | where: 'alt', 'lifestyle'
          assign videos = product.media | where: 'media_type', 'video' 
          if lifestyle != blank
            assign additional_media = lifestyle 
          endif
          if videos != blank and additional_media != blank
            assign additional_media = additional_media | concat: videos
          elsif videos != blank
            assign additional_media = videos 
          endif
        %}
        
        
        {% capture variant_images %}
          {% assign skip = true %}
          {% assign slides_count = 0 %}
          {% for media in product.media %}
            {% assign image_variants = '' %}
            {% if media.media_type == "image" %}              
              {% assign _image = product.images | where: 'src', media.src | first %}

              {% assign image_variants = _image.variants | map: 'id' %}
              {% assign variant_match = _image.variants | where: 'id', product.selected_or_first_available_variant.id | first %}   
              
              {% if image_variants != blank and variant_match != blank %}
                {% assign skip = false %}
              {% elsif image_variants != blank and variant_match == blank %}
                {% assign skip = true %}
              {% endif %}
            {% else %}
              {% continue %}
            {% endif %}

            {% if skip == true %}
              {% continue %}
            {% else %}
              
              {% if selected_media == blank %}
                {% assign selected_media = media.id %}
              {% else %}
                {% assign selected_media = selected_media | append: "," | append: media.id %}
              {% endif %}
              
              {% assign slides_count = slides_count | plus: 1 %}
              <div class="swiper-slide [&:first-child>img]:!object-contain [&>img]:!object-contain {% if settings.product_image_bg != blank and settings.product_image_multiply == true and forloop.first %} [&>img:first-of-type]:mix-blend-multiply {% endif %} {% if settings.product_image_bg != blank and forloop.first %}[&>img]:scale-[70%]{% endif %}" 
                style="{% if settings.product_image_bg != blank and forloop.first %}background-image: url({{ settings.product_image_bg | image_url: width: 1000 }}){% endif %}"
                data-initial-slide="{% if product.selected_or_first_available_variant.image == media %}true{% else %}false{% endif %}" 
                {% if media.media_type == "image" %}data-image-variants="{{ image_variants.variants | map: 'id' | join: "," }}"{% endif %} 
                data-media-index="{{ forloop.index0 }}" 
                data-media-id="{{ section.id }}-{{ media.id }}"
              >
                {% assign sizes = '(min-width: 769px) 75vw, 100vw' %}
                {% if media.media_type == 'image' %}
                  {{ media | image_url: width: 1000 | image_tag: width: media.width, sizes: sizes, widths: '300, 400, 500, 600, 700, 800, 900, 1000, 1200', class: 'w-full aspect-[0.86/1] object-cover max-h-[800px] object-center', loading: 'lazy' }}
                  <div class="swiper-lazy-preloader"></div>
                {% elsif media.media_type == "video" %}
                  {{ media | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full aspect-[0.86/1] object-cover max-h-[800px] object-center' }}
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
          {% for media in additional_media %}
            {% if selected_media contains media.id %}
              {% continue %}
            {% endif %}
            {% if selected_media == blank %}
              {% assign selected_media = media.id %}
            {% else %}
              {% assign selected_media = selected_media | append: "," | append: media.id %}
            {% endif %}
            
            {% assign slides_count = slides_count | plus: 1 %}
              <div class="swiper-slide [&:first-child>img]:!object-contain [&>img]:!object-contain {% if settings.product_image_bg != blank and settings.product_image_multiply == true and forloop.first %} [&>img:first-of-type]:mix-blend-multiply {% endif %} {% if settings.product_image_bg != blank and forloop.first %}[&>img]:scale-[70%]{% endif %}" 
                style="{% if settings.product_image_bg != blank and forloop.first %}background-image: url({{ settings.product_image_bg | image_url: width: 1000 }}){% endif %}"
                data-initial-slide="{% if product.selected_or_first_available_variant.image == media %}true{% else %}false{% endif %}" 
                {% if media.media_type == "image" %}data-image-variants="{{ image_variants.variants | map: 'id' | join: "," }}"{% endif %} 
                data-media-index="{{ forloop.index0 }}" 
                data-media-id="{{ section.id }}-{{ media.id }}"
              >
                {% assign sizes = '(min-width: 769px) 75vw, 100vw' %}
                {% if media.media_type == 'image' %}
                  {{ media | image_url: width: 1000 | image_tag: width: media.width, sizes: sizes, widths: '300, 400, 500, 600, 700, 800, 900, 1000, 1200', class: 'w-full aspect-[0.86/1] object-cover max-h-[800px] object-center', loading: 'lazy' }}
                  <div class="swiper-lazy-preloader"></div>
                {% elsif media.media_type == "video" %}
                  {{ media | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full aspect-[0.86/1] object-cover max-h-[800px] object-center' }}
                {% endif %}
              </div>
          {% endfor %}
        {% endcapture %}

        <div class="product-slider list-unstyled swiper !overflow-x-clip !overflow-y-clip pointer-events-none" role="list" data-swiper="product-media" data-section-id="{{ section.id }}">
          <div class="swiper-wrapper">
            {{ variant_images }}
            {% comment %} {% for media in product.media %} {% endcomment %}
              {% comment %} {% if media.media_type == "image" %}
                {% assign image_variants = product.images | where: 'src', media.src | first %}
              {% endif %} {% endcomment %}
              
              {% comment %} <div class="swiper-slide [&:first-child>img]:!object-contain [&>img]:!object-contain {% if settings.product_image_bg != blank and settings.product_image_multiply == true and forloop.first %} [&>img:first-of-type]:mix-blend-multiply {% endif %} {% if settings.product_image_bg != blank and forloop.first %}[&>img]:scale-[70%]{% endif %}" 
                style="{% if settings.product_image_bg != blank and forloop.first %}background-image: url({{ settings.product_image_bg | image_url: width: 1000 }}){% endif %}"
                data-initial-slide="{% if product.selected_or_first_available_variant.image == media %}true{% else %}false{% endif %}" 
                {% if media.media_type == "image" %}data-image-variants="{{ image_variants.variants | map: 'id' | join: "," }}"{% endif %} 
                data-media-index="{{ forloop.index0 }}" 
                data-media-id="{{ section.id }}-{{ media.id }}"
              >
                {% assign sizes = '(min-width: 769px) 75vw, 100vw' %}
                {% if media.media_type == 'image' %}
                  {{ media | image_url: width: 1000 | image_tag: width: media.width, sizes: sizes, widths: '300, 400, 500, 600, 700, 800, 900, 1000, 1200', class: 'w-full aspect-[0.86/1] object-cover max-h-[800px] object-center', loading: 'lazy' }}
                  <div class="swiper-lazy-preloader"></div>
                {% elsif media.media_type == "video" %}
                  {{ media | video_tag: autoplay: true, loop: true, muted: true, controls: true, class: 'w-full aspect-[0.86/1] object-cover max-h-[800px] object-center' }}
                {% endif %}
              </div> {% endcomment %}
            {% comment %} {% endfor %} {% endcomment %}
          </div>
          <div class="mt-10 md:mt-[23px]">
            {% render 'swiper-arrows', section_id: section.id, total_slides: slides_count %}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
%}

{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign days_price_valid_until = 10 | times: 86400
  assign gtin_option = 'gtin'
  assign is_barcode_available = false
  if current_variant.barcode != blank
    assign is_barcode_available = true
    assign gtin_string_length = current_variant.barcode | size
    if gtin_string_length == 8 or gtin_string_length == 12 or gtin_string_length == 13 or gtin_string_length == 14
      assign is_valid_gtin_length = true
      assign gtin_option = gtin_option | append: gtin_string_length
    endif
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media %}
      {% assign media_size = seo_media.preview_image.width | append: 'x' %}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "description": "{% if product.description != blank %}{{ product.description | strip_html | escape | truncatewords: 25 }}{% else %}{{ shop.name }}{% endif %}",
    {% if product.selected_or_first_available_variant.sku != blank %}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {% endif %}
    "brand": {
      "@type": "Brand",
      "name": {{ product.vendor | json }}
    },
    "category": "",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{% if product.metafields.judgeme.reviews_average.size > 0 %}{{ product.metafields.judgeme.reviews_average }}{% else %}5{% endif %}",
      "reviewCount": "{% if product.metafields.judgeme.reviews_count.size > 0 %}{{ product.metafields.judgeme.reviews_count }}{% else %}1{% endif %}"
    },
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          {% if variant.sku != blank %}
            "sku": {{ variant.sku | json }},
          {% endif %}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "priceValidUntil": "{{ 'now' | date: '%s' | plus: days_price_valid_until | date: '%Y-%m-%d' }}",
          "url" : {{ shop.url | append: variant.url | json }},
          "hasMerchantReturnPolicy": {
            "@type": "MerchantReturnPolicy",
            "url": "{{ shop.url }}/pages/new-shipping-and-return-policies",
            "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
            "applicableCountry": {
              "@type": "Country",
              "name": [
                "GB", "CH", "NO", "NL", "IT", "IE", "HU", "FR", "US", "DK", "CA", "BE", "AT", "AU"
              ]
            },
            "returnFees": "https://schema.org/ReturnShippingFees",
            "returnShippingFeesAmount": {
              "@type": "MonetaryAmount",
              "value": "25.00",
              "currency": "{{ shop.currency | escape }}"
            },
            "returnMethod": "ReturnByMail",
            "merchantReturnDays": 90
          },
          "shippingDetails": {
            "@type": "OfferShippingDetails",
            "shippingRate": {
              "@type": "MonetaryAmount",
              "value": "25.00",
              "currency": "{{ shop.currency | escape }}"
            },
            "deliveryTime": {
              "@type": "ShippingDeliveryTime",
              "handlingTime": {
                "@type": "QuantitativeValue",
                "minValue": 1,
                "maxValue": 5,
                "unitCode": "d"
              },
              "transitTime": {
                "@type": "QuantitativeValue",
                "minValue": 3,
                "maxValue": 5,
                "unitCode": "d"
              }
            },
            "shippingDestination": {
              "@type": "DefinedRegion",
              "addressCountry": [
                "GB", "CH", "NO", "NL", "IT", "IE", "HU", "FR", "US", "DK", "CA", "BE", "AT", "AU"
              ]
            }
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  }
</script>

{% schema %}
  {
    "name": "Product",
    "tag": "section",
    "class": "product-section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "paragraph",
            "content": "Appears below product form"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "heading"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "highlights",
        "label": "Highlights",
        "info": "Separate items with '|'"
      },
      {
        "type": "paragraph",
        "content": "To override template with product specific values, enter them in the Product Metafields > Highlights"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "info": "Displays above product images"
      },
      {
        "type": "header",
        "content": "Custom inquiry"
      },
      {
        "type": "checkbox",
        "id": "custom_inquiry",
        "label": "Show custom inquiry button",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Set button label and link in Theme Settings > Global"
      }
    ]
  }
{% endschema %}
