<div class="bg-[var(--background)] text-[var(--text)]" style="{% render "color-variables", color: section.settings.color %}">
  <script src="{{ 'faq.js' | asset_url }}" defer="defer"></script>
  <div class="page-width py-60 lg:py-[86px]">
    <div class="flex flex-col justify-start items-start lg:grid grid-cols-2 gap-[22px]">
      {% if section.settings.title != blank %}
        <h1 class="text-arizona-48 flex-1 col-start-1">{{ section.settings.title }}</h1>
      {% endif %}

      {% if section.settings.text != blank %}
        <div class="wysiwyg flex-1 indent-8 col-start-2 row-span-2">{{ section.settings.text }}</div>
      {% endif %}

      <div class="faq-navigation col-start-1 mt-[16px] md:mt-0">
        <div class="w-fit flex flex-col justify-center gap-[7px] md:gap-10">
          {% for block in section.blocks %}
            {% if block.type == 'header' %}
              <button class="flex-2 faq-link svg-link text-pangram-12 md:text-pangram-14 flex flex-row justify-between items-center gap-[9px] !leading-[30px]" data-section="{{ block.settings.title | handleize }}">
                {{ block.settings.title }}
                <span class="rotate-90">{% render 'link-arrow' %}</span>
              </button>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div x-data="{ open: 1, toggle(index){ this.open == index ? this.open = 0 : this.open = index } }" class="w-full mt-[63px] md:mt-80">
      {% assign is_first_faq = true %}

      {% for block in section.blocks %}
        {% if block.type == 'header' %}
          <div class="faq-component [&+.group\/accordion]:border-t" data-section="{{ block.settings.title | handleize }}" id="{{ block.settings.title | handleize }}">
            <h6 class="text-pangram-12 lg:text-pangram-14 leading-[30px] pb-[6px] lg:pb-35 mt-45 lg:mt-75">{{ block.settings.title }}</h6>
          </div>
        {% endif %}

        {% if block.type == 'faq_item' %}
          <div class="group/accordion border-b border-[var(--text)] first-of-type:border-t py-10 lg:py-[24px]" :class="open == {{ forloop.index }} ? 'active' : '' " >
            <button @click="toggle({{ forloop.index }})" class="accordion-header w-full grid grid-cols-12 gap-x-10 lg:gap-x-[max(50px,3.5vw)] items-center">
                <div class="col-span-2 lg:col-span-3">
                    <div class="w-[22px] lg:w-[44px] [&_svg]:w-full">
                        <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line vector-effect="non-scaling-stroke" y1="23.5" x2="44" y2="23.5" stroke="currentColor"/>
                            <line vector-effect="non-scaling-stroke" class="origin-center transition-all opacity-100 group-[.active]/accordion:rotate-90 group-[.active]/accordion:opacity-0" x1="20.5" y1="2.18557e-08" x2="20.5" y2="44" stroke="currentColor"/>
                        </svg>
                    </div>
                </div>
                    
                <div class="col-span-9 flex flex-col xl:flex-row justify-start xl:justify-between items-start xl:items-center flex-wrap text-left w-full gap-10">
                    <h4 class="text-oracle-18">{{ block.settings.heading }}</h4>
                </div>
            </button>

            <div x-show="open == {{ forloop.index }}" x-transition class="accordion-content hidden group-[.active]/accordion:block">
                <div class="grid grid-cols-12 gap-x-10 lg:gap-x-[max(50px,3.5vw)] pt-[22px] lg:pt-[23px]">
                    <div class="col-start-3 col-span-10 lg:col-start-4 lg:col-span-9 flex flex-col justify-start items-start gap-5">
                        <div class="text-oracle-14 lg:text-oracle-18 [&_p:first-of-type]:indent-8 lg:max-w-[75%] pb-15 lg:pb-10">
                            {{ block.settings.text }}
                        </div>
                    </div>
                </div>
            </div>
          </div>
        {% endif %}

      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQs with Nav",
    "settings": [
      {
        "type": "select",
        "id": "color",
        "label": "Section colors",
        "options": [
            {
                "label": "Light",
                "value": "light"
            },
            {
                "label": "Dark",
                "value": "dark"
            }
        ],
        "default": "light"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "header",
        "name": "Header",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }
        ]
      },
      {
        "type": "faq_item",
        "name": "FAQ Item",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQs with Nav"
      }
    ]
  }
{% endschema %}