<div class="register {% if section.settings.image != blank %} flex flex-col-reverse md:grid md:grid-cols-2 md:items-center{% endif %}">
    {% if section.settings.image != blank %}
        <div class="pb-full relative overflow-hidden h-full">
            {{ section.settings.image | image_url: width: 1600 | image_tag: class: "w-full h-full object-cover inset" }}
          </div>
    {% endif %}
    <div class="max-w-custom w-full mx-auto mt-40 mb-60 px-20 md:px-40 md:my-100" style="--width: 600px;">
      <div class="max-w-custom mx-auto w-full" style="--width: 435px;">
        <h1 class="text-arizona-40 lg:text-arizona-48 text-center mb-[33px]">Create Account</h1>
  
        {% form 'create_customer', novalidate: 'novalidate' %}
  
          <div class="mb-[14px]">  
            <label class="field__label visually-hidden" for="RegisterForm-FirstName">First Name</label>    
            <input
              type="text"
              class="field__input"
              name="customer[first_name]"
              id="RegisterForm-FirstName"
              {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
              autocomplete="given-name"
              placeholder="First Name"
            >
          </div>
          
          <div class="mb-[14px]">
            <label class="field__label visually-hidden" for="RegisterForm-LastName">Last Name</label>
            <input
              type="text"
              class="field__input"
              name="customer[last_name]"
              id="RegisterForm-LastName"
              {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
              autocomplete="family-name"
              placeholder="Last Name"
            >
          </div>
  
          <div class="mb-[14px]">   
            <label class="field__label visually-hidden" for="RegisterForm-email">Email</label>   
            <input
              type="email"
              class="field__input"
              name="customer[email]"
              id="RegisterForm-email"
              {% if form.email %} value="{{ form.email }}"{% endif %}
              spellcheck="false"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-email-error"
              {% endif %}
              placeholder="Email"
            >
          </div>
  
          <div class="mb-[14px]">     
            <label class="field__label visually-hidden" for="RegisterForm-password">Password</label>
            <input
              type="password"
              class="field__input"
              name="customer[password]"
              id="RegisterForm-password"
              aria-required="true"
              {% if form.errors contains 'password' %}
                aria-invalid="true"
                aria-describedby="RegisterForm-password-error"
              {% endif %}
              placeholder="Password"
            >
  
            {% if form.errors %}
              <div class="mt-10 text-body-2 text-error">{{ form.errors | default_errors }}</div>
            {% endif %}
          </div>
  
          <button class="button button--large max-w-full w-full">Submit</button>
  
          <div class="mt-15 text-center">
            {% comment %} {% render 'text-link' label: 'Back to Log In', link:  %} {% endcomment %}
            {{ 'Back to Sign In' | link_to: routes.account_login_url, class: 'text-oracle-12 lg:text-oracle-16 underline leading-[30px]' }}
          </div>
        {% endform %}
      </div>
  
    </div>
  </div>
  
  <style>
    {% if section.settings.image != blank %}
      @media screen and (max-width: 767px) {        
        #MainContent {
          margin-top: 0;
        }
      }
    {% endif %}
  </style>
  
  {% schema %}
    {
      "name": "Register",
      "settings": [
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ],
      "presets": [
        {
          "name": "Register"
        }
      ]
    }
  {% endschema %}