<div class="bg-[var(--background)] text-[var(--text)] pt-[34px] pb-[65px] lg:py-[132px]" style="{% render "color-variables", color: section.settings.color %}">
    <div class="page-width flex flex-col gap-30 md:flex-row md:justify-around md:items-center md:gap-60">
        <div class="flex flex-col gap-25 text-center md:gap-60 xl:gap-80">
            {% if section.settings.title_top != blank %}
                <h2 data-animate class="text-arizona-custom lg:text-arizona-80" style="--size: 50px;">{{ section.settings.title_top }}</h2>
            {% endif %}
            {% if section.settings.image != blank %}
                <div data-animate class="size-[200px] mx-auto relative overflow-hidden md:size-[308px]">
                    {{ section.settings.image | image_url: width: 500 | image_tag: class: 'size-full inset object-cover' }}
                </div>
            {% endif %}
            {% if section.settings.title_bottom != blank %}
                <h2 data-animate class="text-arizona-custom lg:text-arizona-80" style="--size: 50px;">{{ section.settings.title_bottom }}</h2>
            {% endif %}
        </div>
        <div class="max-w-custom w-full flex flex-col gap-40 lg:gap-80 xxl:gap-115" style="--width: 441px;">
            {% for block in section.blocks %}
                <div class="px-20 md:p-0" {{ block.shopify_attributes }}>
                    <div data-animate class="size-[36px] mx-auto mb-[24px] flex justify-center items-center rounded-full border-1 border-current text-oracle-18 md:mb-30">{{ forloop.index }}</div>
                    {% if block.settings.title != blank %}
                        <h3 data-animate class="text-pangram-16 uppercase text-center text-pretty lg:text-pangram-20">{{ block.settings.title }}</h3>
                    {% endif %}
                    {% if block.settings.text != blank %}
                        <div data-animate class="mt-10 text-oracle-14 indent-40 md:mt-20 lg:text-oracle-18">{{ block.settings.text }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Numbered Text Blocks",
        "settings": [
            {
                "type": "select",
                "id": "color",
                "label": "Section colors",
                "options": [
                    {
                        "label": "Light",
                        "value": "light"
                    },
                    {
                        "label": "Dark",
                        "value": "dark"
                    }
                ],
                "default": "dark"
            },
            {
                "type": "text",
                "id": "title_top",
                "label": "Title, Top"
            },
            {
                "type": "text",
                "id": "title_bottom",
                "label": "Title, Bottom"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ],
        "blocks": [
            {
                "type": "block",
                "name": "Block",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Numbered Text Blocks"
            }
        ]
    }
{% endschema %}