{% if predictive_search.performed %}
  <div class="py-30 flex flex-col {% if predictive_search.resources.products.size > 0 %}justify-start{% else %}justify-center{% endif %} items-center h-full">
    <div class="flex flex-col-reverse lg:grid gap-40 grid-cols-4 gap-x-30">
        {% if predictive_search.resources.products.size > 0 %}
          <div class="col-span-3">
            <h3 class="mb-20 pb-10 text-arizona-26">{{ predictive_search.resources.products.size }} Products</h3>
            <ul class="grid grid-cols-2 lg:grid-cols-3 gap-y-[24px] gap-x-[16px] lg:gap-x-30">
              {% for current_product in predictive_search.resources.products limit: 3 %}
                <li class="">
                  {% render 'product-card', product_card_product: current_product, no_product_form: true %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          <div class="col-span-4 flex flex-col justify-center items-center text-center w-full">
            <p class="text-arizona-26">{{ settings.no_results_text }}</p>
            {% if settings.no_results_links != blank %}
              <div class="flex flex-col lg:flex-row justify-center items-center text-oracle-16 gap-20 mt-[13px]">
                {% for link in settings.no_results_links %}
                  <a href="{{ link.url }}" class="">{{ link.title }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endif %}
      <div class="col-span-1 col-start-4">
        {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}
          <div class="max-w-custom w-full" style="--width: 335px;">
            <h3 class="mb-20 pb-10 text-arizona-26">Popular Searches</h3>
            <ul class="flex flex-col gap-10">
              {% for query in predictive_search.resources.queries %}
                <li id="predictive-search-option-query-{{ forloop.index }}" class="" role="option" aria-selected="false">
                  <a href="{{ query.url }}" class="" tabindex="-1">
                    <p class="text-body-3 [&_mark]:bg-transparent [&_mark]:underline" aria-label="{{ query.text }}">
                      {{ query.styled_text }}
                    </p>
                  </a>
                </li>
              {% endfor %}
              {% for collection in predictive_search.resources.collections %}
                <li id="predictive-search-option-collection-{{ forloop.index }}" class="" role="option" aria-selected="false">
                  <a href="{{ collection.url }}" class="" tabindex="-1">
                    <p class="text-body-3">{{ collection.title | escape }}</p>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
    {% comment %} <div class="max-w-custom w-full mt-60 mx-auto text-center md:mt-40" style="--width: 375px;">
      <button class="w-full button" data-submit>See All Products</button>
    </div> {% endcomment %}
  </div>
{% endif %}
